.ui-helper-hidden-accessible input,.ui-helper-hidden-accessible
select{-webkit-transform:scale(0);-moz-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}.ui-shadow{-moz-box-shadow:0
5px 10px rgba(0,0,0,0.8);-webkit-box-shadow:0 5px 10px
rgba(0,0,0,0.8);box-shadow:0 5px 10px
rgba(0,0,0,0.8)}.ui-overlay-visible{visibility:visible}ui-overlay-visible
*{visibility:visible!important}.ui-overlay-hidden{visibility:hidden}.ui-overlay-hidden
*{visibility:hidden!important}.ui-overflow-hidden{overflow:hidden}.ui-datepicker
.ui-datepicker-current.ui-priority-secondary{opacity:1}.ui-icon-blank{background-position:16px
16px}@media only
all{th.ui-column-p-6,td.ui-column-p-6,th.ui-column-p-5,td.ui-column-p-5,th.ui-column-p-4,td.ui-column-p-4,th.ui-column-p-3,td.ui-column-p-3,th.ui-column-p-2,td.ui-column-p-2,th.ui-column-p-1,td.ui-column-p-1{display:none}}@media
screen and
(min-width:20em){th.ui-column-p-1,td.ui-column-p-1{display:table-cell}}@media
screen and
(min-width:30em){th.ui-column-p-2,td.ui-column-p-2{display:table-cell}}@media
screen and
(min-width:40em){th.ui-column-p-3,td.ui-column-p-3{display:table-cell}}@media
screen and
(min-width:50em){th.ui-column-p-4,td.ui-column-p-4{display:table-cell}}@media
screen and
(min-width:60em){th.ui-column-p-5,td.ui-column-p-5{display:table-cell}}@media
screen and
(min-width:70em){th.ui-column-p-6,td.ui-column-p-6{display:table-cell}}.ui-icon.fa,.ui-widget
.ui-icon.fa,.ui-icon.fab,.ui-widget .ui-icon.fab,.ui-icon.fas,.ui-widget
.ui-icon.fas,.ui-icon.far,.ui-widget
.ui-icon.far,.ui-icon.fal,.ui-widget .ui-icon.fal{background:none repeat
scroll 0 0 transparent!important;text-indent:0!important}.ui-widget
.ui-icon.pi,.ui-icon.pi{background:none repeat scroll 0 0
transparent!important;text-indent:0!important}.p-grid,.p-grid>div{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
/*! * jQuery UI CSS Framework 1.12.1 * http://jqueryui.com * * Copyright
jQuery Foundation and other contributors * Released under the MIT
license. * http://jquery.org/license * *
http://api.jqueryui.com/category/theming/
*/.ui-draggable-handle{-ms-touch-action:none;touch-action:none}.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0
0 0
0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important;pointer-events:none}.ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-icon-block{left:50%;margin-left:-8px;display:block}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:.1px;display:block;-ms-touch-action:none;touch-action:none}.ui-resizable-disabled
.ui-resizable-handle,.ui-resizable-autohide
.ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-selectable{-ms-touch-action:none;touch-action:none}.ui-selectable-helper{position:absolute;z-index:100;border:1px
dotted
black}.ui-sortable-handle{-ms-touch-action:none;touch-action:none}.ui-datepicker{width:17em;padding:.2em
.2em 0;display:none}.ui-datepicker
.ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker
.ui-datepicker-prev,.ui-datepicker
.ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker
.ui-datepicker-prev-hover,.ui-datepicker
.ui-datepicker-next-hover{top:1px}.ui-datepicker
.ui-datepicker-prev{left:2px}.ui-datepicker
.ui-datepicker-next{right:2px}.ui-datepicker
.ui-datepicker-prev-hover{left:1px}.ui-datepicker
.ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev
span,.ui-datepicker .ui-datepicker-next
span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker
.ui-datepicker-title{margin:0
2.3em;line-height:1.8em;text-align:center}.ui-datepicker
.ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker
select.ui-datepicker-month,.ui-datepicker
select.ui-datepicker-year{width:45%}.ui-datepicker
table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0
.4em}.ui-datepicker th{padding:.7em
.3em;text-align:center;font-weight:bold;border:0}.ui-datepicker
td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td
a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker
.ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0
0;padding:0
.2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker
.ui-datepicker-buttonpane button{float:right;margin:.5em .2em
.4em;cursor:pointer;padding:.2em .6em .3em
.6em;width:auto;overflow:visible}.ui-datepicker
.ui-datepicker-buttonpane
button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi
.ui-datepicker-group{float:left}.ui-datepicker-multi
.ui-datepicker-group table{width:95%;margin:0 auto
.4em}.ui-datepicker-multi-2
.ui-datepicker-group{width:50%}.ui-datepicker-multi-3
.ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4
.ui-datepicker-group{width:25%}.ui-datepicker-multi
.ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi
.ui-datepicker-group-middle
.ui-datepicker-header{border-left-width:0}.ui-datepicker-multi
.ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl
.ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl
.ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl
.ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl
.ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl
.ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl
.ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl
.ui-datepicker-buttonpane
button.ui-datepicker-current,.ui-datepicker-rtl
.ui-datepicker-group{float:right}.ui-datepicker-rtl
.ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl
.ui-datepicker-group-middle
.ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;left:.5em;top:.3em}.ui-slider{position:relative;text-align:left}.ui-slider
.ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default;-ms-touch-action:none;touch-action:none}.ui-slider
.ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0
0}.ui-slider.ui-state-disabled
.ui-slider-handle,.ui-slider.ui-state-disabled
.ui-slider-range{filter:inherit}.ui-slider-horizontal{height:.8em}.ui-slider-horizontal
.ui-slider-handle{top:-.3em;margin-left:-.6em}.ui-slider-horizontal
.ui-slider-range{top:0;height:100%}.ui-slider-horizontal
.ui-slider-range-min{left:0}.ui-slider-horizontal
.ui-slider-range-max{right:0}.ui-slider-vertical{width:.8em;height:100px}.ui-slider-vertical
.ui-slider-handle{left:-.3em;margin-left:0;margin-bottom:-.6em}.ui-slider-vertical
.ui-slider-range{left:0;width:100%}.ui-slider-vertical
.ui-slider-range-min{bottom:0}.ui-slider-vertical
.ui-slider-range-max{top:0} .ui-timepicker-div
.ui-widget-header{margin-bottom:8px}.ui-timepicker-div
dl{text-align:left}.ui-timepicker-div dl
dt{float:left;clear:left;padding:0 0 0 5px}.ui-timepicker-div dl
dd{margin:0 10px 10px 40%}.ui-timepicker-div
td{font-size:90%}.ui-tpicker-grid-label{background:0;border:0;margin:0;padding:0}.ui-timepicker-div
.ui_tpicker_unit_hide{display:none}.ui-timepicker-div .ui_tpicker_time
.ui_tpicker_time_input{background:0;color:inherit;border:0;outline:0;border-bottom:solid
1px #555;width:95%}.ui-timepicker-div .ui_tpicker_time
.ui_tpicker_time_input:focus{border-bottom-color:#aaa}.ui-timepicker-rtl{direction:rtl}.ui-timepicker-rtl
dl{text-align:right;padding:0 5px 0 0}.ui-timepicker-rtl dl
dt{float:right;clear:right}.ui-timepicker-rtl dl dd{margin:0 40% 10px
10px}.ui-timepicker-div.ui-timepicker-oneLine{padding-right:2px}.ui-timepicker-div.ui-timepicker-oneLine
.ui_tpicker_time,.ui-timepicker-div.ui-timepicker-oneLine
dt{display:none}.ui-timepicker-div.ui-timepicker-oneLine
.ui_tpicker_time_label{display:block;padding-top:2px}.ui-timepicker-div.ui-timepicker-oneLine
dl{text-align:right}.ui-timepicker-div.ui-timepicker-oneLine dl
dd,.ui-timepicker-div.ui-timepicker-oneLine dl
dd>div{display:inline-block;margin:0}.ui-timepicker-div.ui-timepicker-oneLine
dl dd.ui_tpicker_minute:before,.ui-timepicker-div.ui-timepicker-oneLine
dl
dd.ui_tpicker_second:before{content:':';display:inline-block}.ui-timepicker-div.ui-timepicker-oneLine
dl
dd.ui_tpicker_millisec:before,.ui-timepicker-div.ui-timepicker-oneLine
dl
dd.ui_tpicker_microsec:before{content:'.';display:inline-block}.ui-timepicker-div.ui-timepicker-oneLine
.ui_tpicker_unit_hide,.ui-timepicker-div.ui-timepicker-oneLine
.ui_tpicker_unit_hide:before{display:none}
.ui-datepicker-trigger.ui-button-icon-only
.ui-button-text{padding:.3em}.ui-icon{display:block;vertical-align:baseline;margin-top:0}
.ui-accordion
.ui-accordion-header{cursor:pointer;position:relative;margin-top:1px;min-height:0;padding:.5em
.5em .5em 2.2em}.ui-accordion .ui-accordion-header
.ui-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}.ui-accordion
.ui-accordion-content{padding:1em
2.2em;border-top:0;margin-top:-2px;position:relative;top:1px;margin-bottom:2px;overflow:auto;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}.ui-accordion
.ui-accordion-header.ui-state-disabled,.ui-accordion
.ui-accordion-header.ui-state-disabled
a{cursor:default}.ui-accordion.ui-accordion-rtl{direction:rtl}.ui-accordion.ui-accordion-rtl
.ui-accordion-header
.ui-icon{right:.5m;left:auto}.ui-accordion.ui-accordion-rtl
.ui-accordion-header a{padding:.5em 2.2em .5em
.5em}.ui-tabs-outline{outline:dotted thin;z-index:1}
.ui-autocomplete{width:auto;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);cursor:pointer;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;position:relative;display:inline-block}.ui-autocomplete-input.ui-autocomplete-dd-input{padding-right:2.4em}.ui-autocomplete
.ui-autocomplete-dropdown{position:absolute;height:100%;width:2.4em;right:-2px}.ui-autocomplete-query{font-weight:bold}.ui-autocomplete-panel{position:absolute;overflow:auto}.ui-autocomplete-panel
.ui-autocomplete-item{cursor:pointer}.ui-autocomplete-panel
.ui-autocomplete-list{padding:.4em;border:0 none}.ui-autocomplete-panel
.ui-autocomplete-list-item{border:0 none;font-weight:normal;margin:1px
0;padding:3px 5px;text-align:left}.ui-autocomplete-panel
.ui-autocomplete-table{border-collapse:collapse;width:100%}.ui-autocomplete-panel
.ui-autocomplete-table th,.ui-autocomplete-panel .ui-autocomplete-table
td{border-width:1px;border-style:solid;border-color:inherit;padding:4px
10px 4px 10px}.ui-autocomplete .ui-button-icon-only
.ui-button-text{padding:.29em}.ui-autocomplete-panel
.ui-autocomplete-moretext{font-size:90%;font-weight:bold}.ui-autocomplete-list
.ui-autocomplete-moretext{margin:1px 0;padding:3px
5px;text-align:left;border:0
none}.ui-autocomplete-multiple-container{clear:left;cursor:text;list-style-type:none;margin:0;min-height:1px;overflow:hidden;width:400px}.ui-autocomplete-dd-multiple-container{float:left;padding-right:2.4em!important}.ui-autocomplete-multiple-container.ui-inputfield{padding:0}.ui-autocomplete-token{cursor:default;float:left;overflow:hidden;padding:1px
3px;white-space:nowrap;position:relative;margin:2px}.ui-autocomplete-token-label{display:block;padding:0
2.1em 0
.5em}.ui-autocomplete-token-label-disabled{display:block;padding:0 .5em
0
.5em}.ui-autocomplete-token-icon{margin-top:-9px;position:absolute;right:.2em;top:50%;cursor:pointer}.ui-autocomplete-input-token{float:left;list-style-type:none;margin:1px;padding:0}.ui-autocomplete-input-token
input{border:0 none;width:140px;outline:medium
none;background-color:transparent;margin:2px}.ui-autocomplete-itemtip-content{display:none}.ui-autocomplete-itemtip{position:absolute;display:none;padding:.4em}.ui-autocomplete-emptyMessage{padding:3px
5px}.ui-autocomplete-panel
.ui-autocomplete-group{font-weight:bold;cursor:default}.ui-fluid
.ui-autocomplete-multiple-container{width:100%}
.ui-blockui{position:absolute;top:0;left:0;text-align:center;width:100%;height:100%}.ui-blockui-content{position:absolute;text-align:center;padding:1em}
.ui-carousel{position:relative;padding:1px}.ui-carousel
.ui-carousel-viewport .ui-carousel-items{list-style:none outside
none;margin:0;padding:0;position:relative;width:32000px;left:0}.ui-carousel
.ui-carousel-viewport .ui-carousel-items
.ui-carousel-item{margin:1px;padding:0;float:left}.ui-carousel
.ui-carousel-viewport{overflow:hidden;position:relative;border:0}.ui-carousel
.ui-carousel-footer{margin:1px 1px 0
1px;padding-top:9px;padding-bottom:6px;padding-right:10px;padding-left:10px;overflow:hidden}.ui-carousel
.ui-carousel-header{margin:0
1px;overflow:hidden;padding-top:7px;padding-bottom:8px;padding-right:10px;padding-left:10px}.ui-carousel
.ui-carousel-header
.ui-carousel-header-title{display:inline-block;width:30%;padding-top:2px;overflow:hidden}.ui-carousel
.ui-carousel-dropdown,.ui-carousel
.ui-carousel-dropdown-responsive{float:right;margin:0
10px;background-image:none}.ui-carousel .ui-carousel-dropdown
option,.ui-carousel .ui-carousel-dropdown-responsive
option{background-image:none;border:0
none;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}.ui-carousel
.ui-carousel-button{float:right;margin:2px}.ui-carousel
.ui-carousel-page-link{float:left;margin:0 2px}.ui-carousel
.ui-carousel-page-link,.ui-carousel
.ui-carousel-button{cursor:pointer}.ui-carousel
.ui-carousel-page-links{margin:0
9px;margin-top:1px;display:inline-table;float:right}.ui-carousel
.ui-carousel-dropdown-responsive{display:none}.ui-carousel
.ui-carousel-titlebar-icon{margin-left:.5em;cursor:pointer;float:right}.ui-carousel
.ui-carousel-vertical-viewport .ui-carousel-items
li.ui-carousel-item{float:none}.ui-carousel
.ui-carousel-vertical-viewport ul.ui-carousel-items{width:auto}
.ui-columntoggler{padding:0;position:absolute;overflow:auto;display:none}.ui-columntoggler
.ui-columntoggler-items{border:0
none;padding:.4em;margin:0}.ui-columntoggler
.ui-columntoggler-item{border:0
none;cursor:pointer;font-weight:normal;margin:1px 0;padding:3px
5px;text-align:left;white-space:nowrap;display:block;position:relative}.ui-columntoggler
.ui-columntoggler-item
.ui-chkbox{position:absolute;top:50%;margin-top:-8px}.ui-columntoggler
.ui-columntoggler-item
label{display:block;padding-left:2.2em}.ui-columntoggler
.ui-columntoggler-close{float:right;margin-top:1px;margin-right:1px}.ui-columntoggler
.ui-columntoggler-close:focus{outline:dotted thin}.ui-columntoggler
.ui-columntoggler-items{padding:1em .4em .4em .4em}@media only
all{.ui-columntoggler
.ui-columntoggler-item.ui-column-p-1,.ui-columntoggler
.ui-columntoggler-item.ui-column-p-2,.ui-columntoggler
.ui-columntoggler-item.ui-column-p-3,.ui-columntoggler
.ui-columntoggler-item.ui-column-p-4,.ui-columntoggler
.ui-columntoggler-item.ui-column-p-5,.ui-columntoggler
.ui-columntoggler-item.ui-column-p-6{display:none}th.ui-helper-hidden,td.ui-helper-hidden{display:none}}@media
screen and (min-width:20em){.ui-columntoggler
.ui-columntoggler-item.ui-column-p-1{display:block}}@media screen and
(min-width:30em){.ui-columntoggler
.ui-columntoggler-item.ui-column-p-2{display:block}}@media screen and
(min-width:40em){.ui-columntoggler
.ui-columntoggler-item.ui-column-p-3{display:block}}@media screen and
(min-width:50em){.ui-columntoggler
.ui-columntoggler-item.ui-column-p-4{display:block}}@media screen and
(min-width:60em){.ui-columntoggler
.ui-columntoggler-item.ui-column-p-5{display:block}}@media screen and
(min-width:70em){.ui-columntoggler
.ui-columntoggler-item.ui-column-p-6{display:block}}
.ui-dashboard-column{float:left;padding-bottom:100px}.ui-dashboard-column
.ui-panel-titlebar{cursor:move} .ui-datalist
.ui-datalist-header,.ui-datalist
.ui-datalist-footer{text-align:center;padding:4px 10px}.ui-datalist
.ui-datalist-header{border-bottom:0 none}.ui-datalist
.ui-datalist-footer{border-top:0 none}.ui-datalist
.ui-paginator-top{border-bottom:0 none}.ui-datalist
.ui-paginator-bottom{border-top:0 none}.ui-datalist
.ui-datalist-empty-message{padding:4px 10px}.ui-datalist
.ui-datalist-nobullets{list-style-type:none} .ui-datagrid
.ui-paginator{text-align:center}.ui-datagrid-column{padding:3px}.ui-datagrid-content-empty{padding:4px
10px}.ui-datagrid .ui-datagrid-header,.ui-datagrid
.ui-datagrid-footer{text-align:center;padding:4px 10px}.ui-datagrid
.ui-datagrid-header{border-bottom:0 none}.ui-datagrid
.ui-datagrid-footer{border-top:0 none}.ui-datagrid
.ui-paginator-top{border-bottom:0 none}.ui-datagrid
.ui-paginator-bottom{border-top:0 none}.ui-datagrid-data{width:100%}
.ui-datascroller .ui-datascroller-header{text-align:center;padding:4px
10px;border-bottom:0 none}.ui-datascroller
.ui-datascroller-content{padding:4px 10px}.ui-datascroller-inline
.ui-datascroller-content{overflow:auto}.ui-datascroller
.ui-datascroller-list{list-style-type:none;margin:0;padding:0}.ui-datascroller
.ui-datascroller-item{border:0 none}.ui-datascroller
.ui-datascroller-loader{text-align:center;padding:4px
10px}.ui-datascroller
.ui-datascroller-loading{background:url("/avalon/javax.faces.resource/datascroller/images/loading.gif.xhtml?ln=primefaces&v=8.0")
center center
no-repeat;width:220px;height:19px;padding:0;margin:0;display:inline-block}.ui-datascroller
.ui-datascroller-virtualscroll-wrapper{position:relative}.ui-datascroller
.ui-datascroller-virtualscroll-wrapper
.ui-datascroller-list{top:0;left:0;position:absolute} .ui-datatable
table{border-collapse:collapse;width:100%;table-layout:fixed}.ui-datatable-tablewrapper{overflow:auto}.ui-datatable
.ui-datatable-header,.ui-datatable
.ui-datatable-footer{text-align:center;padding:4px 10px}.ui-datatable
.ui-datatable-header{border-bottom:0 none}.ui-datatable
.ui-datatable-footer{border-top:0 none}.ui-datatable thead
th,.ui-datatable tfoot td{text-align:center}.ui-datatable thead
th,.ui-datatable tbody td,.ui-datatable tfoot td,.ui-datatable tfoot
th{padding:4px
10px;overflow:hidden;border-width:1px;border-style:solid}.ui-datatable
tbody.ui-datatable-data{outline:0}.ui-datatable tbody
td{border-color:inherit}.ui-datatable
.ui-sortable-column{cursor:pointer}.ui-datatable
div.ui-dt-c{position:relative}.ui-datatable
.ui-sortable-column-icon{display:inline-block;margin:-3px 0 -3px
2px}.ui-datatable
.ui-column-filter{display:block;box-sizing:border-box;width:100%;margin:auto}.ui-datatable
.ui-row-toggler{cursor:pointer}.ui-datatable
tr.ui-state-highlight{cursor:pointer}.ui-datatable .ui-selection-column
.ui-chkbox-all{display:block;margin:0
auto;width:16px;height:16px}.ui-datatable-summary{display:none}.ui-datatable-scrollable
table,.ui-datatable-sticky
table{table-layout:fixed}.ui-datatable-scrollable-body{overflow:auto}.ui-datatable-scrollable-header,.ui-datatable-scrollable-footer{overflow:hidden;border:0
none}.ui-datatable-scrollable
.ui-datatable-scrollable-header,.ui-datatable-scrollable
.ui-datatable-scrollable-footer{position:relative}.ui-datatable-scrollable
.ui-datatable-scrollable-header
td{font-weight:normal}.ui-datatable-scrollable-body::-webkit-scrollbar{-webkit-appearance:none;width:15px;background-color:transparent}.ui-datatable-scrollable-body::-webkit-scrollbar-thumb{border-radius:8px;border:1px
solid white;background-color:rgba(194,194,194,.5)}.ui-datatable
.ui-datatable-scrollable-body{min-height:0}.ui-datatable
.ui-datatable-data
tr.ui-state-hover{border-color:inherit;font-weight:inherit;cursor:pointer}.ui-datatable-scrollable-theadclone{height:0}.ui-datatable-scrollable-theadclone
tr{height:0}.ui-datatable-scrollable-theadclone
th.ui-state-default{height:0;border-bottom-width:0;border-top-width:0;padding-top:0;padding-bottom:0;outline:0
none}.ui-datatable-scrollable-theadclone th
span.ui-column-title{display:block;height:0}.ui-datatable
.ui-paginator,.ui-datatable .ui-paginator{padding:2px}.ui-datatable
.ui-datatable-virtualscroll-wrapper{position:relative}.ui-datatable
.ui-datatable-virtualscroll-table{top:0;left:0;position:absolute}.ui-datatable
.ui-cell-editor-input{display:none}.ui-datatable .ui-row-editing
.ui-cell-editor .ui-cell-editor-output{display:none}.ui-datatable
.ui-row-editing .ui-cell-editor
.ui-cell-editor-input{display:block}.ui-datatable .ui-row-editor
span{cursor:pointer}.ui-datatable .ui-row-editor
.ui-row-editor-pencil{display:inline-block}.ui-datatable .ui-row-editing
.ui-row-editor .ui-row-editor-pencil{display:none}.ui-datatable
.ui-row-editor .ui-row-editor-check,.ui-datatable .ui-row-editor
.ui-row-editor-close{display:none}.ui-datatable .ui-row-editing
.ui-row-editor .ui-row-editor-check,.ui-datatable .ui-row-editing
.ui-row-editor .ui-row-editor-close{display:inline-block}.ui-datatable
.ui-datatable-data tr.ui-row-editing td.ui-editable-column,.ui-datatable
.ui-datatable-data
td.ui-cell-editing{padding:0;margin:0}.ui-row-editor-outline{outline:dotted
thin}.ui-datatable
.ui-column-resizer{position:absolute;top:0;right:0;margin:0;width:8px;height:100%;padding:0;cursor:col-resize;background-image:url("/avalon/javax.faces.resource/spacer/dot_clear.gif.xhtml?ln=primefaces&v=8.0");border:1px
solid transparent;box-sizing:border-box}.ui-datatable
.ui-column-resizer-helper{width:1px;position:absolute;z-index:10;display:none}.ui-datatable-resizable{padding-bottom:1px;overflow:auto}.ui-datatable-resizable
thead th,.ui-datatable-resizable tbody td,.ui-datatable-resizable tfoot
td{white-space:nowrap}.ui-datatable-resizable
table{table-layout:fixed}.ui-datatable-resizable
th.ui-resizable-column{background-clip:padding-box;position:relative}.ui-datatable-rtl{direction:rtl}.ui-datatable-rtl.ui-datatable
thead th,.ui-datatable-rtl.ui-datatable tfoot
td{text-align:right}.ui-datatable
table.ui-datatable-fs{width:auto}.ui-datatable
.ui-datatable-frozenlayout-left,.ui-datatable
.ui-datatable-frozenlayout-right{padding:0;border:0
none;vertical-align:top}.ui-datatable
.ui-datatable-frozen-container{margin-right:-1px}.ui-datatable-frozen-container
.ui-datatable-scrollable-body{overflow:hidden}.ui-datatable
.ui-datatable-frozen-container
.ui-row-toggler{margin-top:-2px;margin-bottom:-2px}.ui-datatable
.ui-datatable-frozen-container
.ui-row-editor{margin-top:-2px;margin-bottom:-2px}.ui-datatable-frozenlayout-right
.ui-datatable-empty-message
td{text-indent:-9999px}.ui-datatable-frozenlayout-right
.ui-datatable-empty-message td>*{visibility:hidden}.ui-datatable-reflow
.ui-datatable-data td[role="gridcell"]
.ui-column-title{display:none}.ui-datatable-reflow
.ui-reflow-label,.ui-datatable-reflow
.ui-reflow-dropdown{margin-bottom:10px;display:none}.ui-datatable
.ui-rowgroup-header>td>a.ui-rowgroup-toggler{padding-right:1.5em;position:relative}.ui-datatable
.ui-rowgroup-header
.ui-rowgroup-toggler-icon{position:absolute;top:0;bottom:0;margin:auto
0}@media(max-width:640px){.ui-datatable-reflow thead
th,.ui-datatable-reflow tfoot td{display:none}.ui-datatable-reflow
.ui-datatable-data
td[role="gridcell"]:not(.ui-helper-hidden){text-align:left;display:block;border:0
none;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;clear:left}.ui-datatable-reflow
.ui-datatable-data.ui-widget-content{border:0 none}.ui-datatable-reflow
.ui-datatable-data tr.ui-widget-content{border-left:0
none;border-right:0 none}.ui-datatable-reflow .ui-datatable-data
td[role="gridcell"]
.ui-column-title{padding:.4em;min-width:30%;display:inline-block;margin:-.4em
1em -.4em -.4em}.ui-datatable-reflow
.ui-reflow-label,.ui-datatable-reflow
.ui-reflow-dropdown{display:inline-block}.ui-datatable-reflow
.ui-reflow-dropdown{margin-left:5px;border-top-left-radius:3px;border-bottom-left-radius:3px}.ui-datatable-reflow
tr.ui-datatable-empty-message>td{display:block;border:0 none}}
.ui-dialog{position:fixed;padding:0;overflow:hidden;display:none}.ui-dialog.ui-dialog-absolute{position:absolute}.ui-dialog.ui-overlay-hidden{display:block}.ui-dialog
.ui-dialog-titlebar{padding:.4em .4em .4em
1em;position:relative;border:0}.ui-dialog
.ui-dialog-title{float:left;margin:.3em 16px .1em 0}.ui-dialog
.ui-dialog-content{position:relative;border:0;padding:.5em
1em;background:0;overflow:auto;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}.ui-dialog
.ui-dialog-content.ui-df-content{overflow:hidden;padding:0}.ui-dialog
.ui-dialog-footer{padding:.4em 1em;border-width:1px 0 0
0;text-align:left}.ui-dialog
.ui-dialog-buttonpane{text-align:left;background-image:none;margin:.5em
0 0 0;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane
button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog
.ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px}.ui-draggable
.ui-dialog-titlebar{cursor:move}.ui-dialog
.ui-dialog-titlebar-close,.ui-dialog
.ui-dialog-titlebar-minimize,.ui-dialog
.ui-dialog-titlebar-maximize{float:right;margin:0;top:0;padding:1px;cursor:pointer}.ui-dialog
.ui-dialog-titlebar-close span,.ui-dialog .ui-dialog-titlebar-minimize
span,.ui-dialog .ui-dialog-titlebar-maximize
span{display:block;margin:0}.ui-dialog
.ui-dialog-titlebar-close:hover,.ui-dialog
.ui-dialog-titlebar-close:focus,.ui-dialog
.ui-dialog-titlebar-minimize:hover,.ui-dialog
.ui-dialog-titlebar-minimize:focus,.ui-dialog
.ui-dialog-titlebar-maximize:hover,.ui-dialog
.ui-dialog-titlebar-maximize:focus{padding:0}.ui-dialog-docking-zone{position:fixed;bottom:0;left:0}.ui-dialog-minimizing{border:2px
dotted gray}.ui-dialog
.ui-dialog-message{margin-right:.5em}.ui-dialog-mask{position:fixed;width:100%;height:100%}.ui-confirm-dialog
.ui-dialog-content{padding:1em}.ui-confirm-dialog-severity{float:left;margin-right:4px}.ui-confirm-dialog-message{display:inline-block;margin-top:1px}.ui-dialog-rtl{direction:rtl}.ui-dialog.ui-dialog-rtl
.ui-dialog-title{float:right}.ui-dialog.ui-dialog-rtl
.ui-dialog-titlebar-close,.ui-dialog.ui-dialog-rtl
.ui-dialog-titlebar-minimize,.ui-dialog.ui-dialog-rtl
.ui-dialog-titlebar-maximize{float:left}.ui-dialog.ui-dialog-rtl
.ui-dialog-footer{text-align:right}.ui-message-dialog
.ui-dialog-content{padding:1em} .ui-fieldset,.ui-fieldset
.ui-fieldset-legend{padding:.6em 1em}.ui-fieldset-toggleable
.ui-fieldset-legend{padding:.5em 1em .5em
.5em;cursor:pointer;outline:0}.ui-fieldset
.ui-fieldset-toggler{padding-right:.1em;float:left}
.ui-inputfield{margin:0;outline:medium
none;padding:4px;font-weight:normal}input[type=text]::-ms-clear{display:none}.ui-widget-header
.ui-inputfield,.ui-widget-content
.ui-inputfield{font-weight:normal}.ui-inputtextarea-resizable{overflow:hidden;resize:none}.ui-selectonelistbox,.ui-selectmanymenu,.ui-multiselectlistbox-listcontainer{padding:2px;width:150px}.ui-selectonelistbox
.ui-selectlistbox-listcontainer,.ui-selectmanymenu
.ui-selectlistbox-listcontainer,.ui-multiselectlistbox-listcontainer{overflow:auto}.ui-selectonelistbox.ui-state-disabled
.ui-selectlistbox-listcontainer,.ui-selectmanymenu.ui-state-disabled
.ui-selectlistbox-listcontainer{overflow:hidden}.ui-selectonelistbox
.ui-selectlistbox-list,.ui-selectmanymenu
.ui-selectlistbox-list,.ui-multiselectlistbox
.ui-multiselectlistbox-list{list-style-type:none;margin:0;padding:0}.ui-selectonelistbox
.ui-selectlistbox-item,.ui-selectmanymenu
.ui-selectlistbox-item,.ui-multiselectlistbox
.ui-multiselectlistbox-item{margin:2px;border:0
none;cursor:pointer;font-weight:normal}.ui-selectonelistbox
table.ui-selectlistbox-list,.ui-selectmanymenu
table.ui-selectlistbox-list{border-collapse:collapse;width:100%}.ui-selectlistbox-filter.ui-inputfield{padding-right:12%;padding-left:2%;width:85%;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}.ui-selectlistbox-filter-container{position:relative;margin:.1em
0 .1em 0;padding:0}.ui-selectlistbox-filter-container
.ui-icon{position:absolute;top:5px;right:2px}.ui-multiselectlistbox
.ui-multiselectlistbox-listcontainer{float:left;margin-right:4px}.ui-multiselectlistbox
.ui-multiselectlistbox-item{white-space:nowrap}.ui-multiselectlistbox.ui-state-disabled
.ui-multiselectlistbox-item{cursor:default}.ui-multiselectlistbox
.ui-multiselectlistbox-header{text-align:center;padding:2px
10px;border-bottom:0 none}.ui-listbox-outline{outline:1px dotted
black;z-index:1}.ui-chkbox{display:inline-block;vertical-align:middle}.ui-chkbox
.ui-chkbox-box{width:16px;height:16px;display:inline-block;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}.ui-chkbox-icon.ui-icon{overflow:visible}.ui-chkbox
.ui-chkbox-label{cursor:pointer;margin:0 16px 0 8px;outline:medium
none;z-index:1;display:inline-block;vertical-align:top}.ui-selectmanycheckbox
label{vertical-align:middle;cursor:pointer;margin:0 16px 0
8px;outline:medium
none;z-index:1;display:inline-block}.ui-selectmanycheckbox .ui-chkbox
.ui-chkbox-box{display:block}.ui-selectoneradio
label{cursor:pointer;display:inline-block;margin:0 16px 0
8px;vertical-align:middle}.ui-selectmanycheckbox.ui-widget
td,.ui-selectoneradio.ui-widget td{border:0 none}.ui-panelgrid
.ui-selectoneradio.ui-grid-responsive .ui-grid-row,.ui-panelgrid
.ui-selectmanycheckbox.ui-grid-responsive .ui-grid-row{border-top:0
none}.ui-selectoneradio.ui-grid-responsive
.ui-grid-row>div,.ui-selectmanycheckbox.ui-grid-responsive
.ui-grid-row>div{padding:.5em}.ui-selectmanycheckbox
.ui-selectmanycheckbox-item-group{font-weight:bold}.ui-selectmanycheckbox
.ui-selectmanycheckbox-responsive-group{padding:.5em .5em .5em
0}.ui-radiobutton{margin:3px
0;width:16px;line-height:16px;display:inline-block;vertical-align:middle}.ui-radiobutton
.ui-radiobutton-box{width:16px;height:16px;line-height:16px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}.ui-radiobutton-icon{margin-left:1px}.ui-radiobutton.ui-radiobutton-native{margin:0;padding:0}.ui-radiobutton.ui-radiobutton-native
.ui-helper-hidden-accessible{clip:auto;position:static!important;width:auto;height:auto;overflow:visible;margin:0;padding:0}.ui-radiobutton.ui-radiobutton-native
.ui-radiobutton-box{display:none}.ui-radiobutton.ui-radiobutton-native
.ui-helper-hidden-accessible
input{margin:0;-webkit-transform:none;-moz-transform:none;-ms-transform:none;transform:none}.ui-selectoneradio-native
label{margin:0}.ui-selectonemenu{display:inline-block;position:relative;width:auto;-moz-transform:scaleX(1);-o-transform:scaleX(1);-webkit-transform:scaleX(1);transform:scaleX(1);cursor:pointer;padding-right:22px;vertical-align:top}.ui-selectonemenu
.ui-selectonemenu-trigger{border-right:0;border-top:0;border-bottom:0;cursor:pointer;width:16px;height:100%;position:absolute;right:0;top:0;padding:0
3px}.ui-selectonemenu .ui-selectonemenu-trigger
.ui-icon{position:absolute;margin:auto;top:0;bottom:0;left:0;right:0}.ui-selectonemenu
.ui-selectonemenu-label{display:block;border:0;white-space:nowrap;overflow:hidden;font-weight:normal;width:100%;text-align:left}.ui-selectonemenu.ui-state-disabled
.ui-selectonemenu-trigger,.ui-selectonemenu.ui-state-disabled
.ui-selectonemenu-label{cursor:default}.ui-selectonemenu
label.ui-selectonemenu-label{cursor:pointer}.ui-selectonemenu
input.ui-selectonemenu-label{cursor:default}.ui-selectonemenu-panel{position:absolute;height:auto}.ui-selectonemenu-panel
.ui-selectonemenu-items-wrapper{overflow:auto}.ui-selectonemenu-panel
.ui-selectonemenu-item{font-weight:normal;cursor:pointer}.ui-selectonemenu-panel
.ui-selectonemenu-item-group{font-weight:bold}.ui-selectonemenu-panel
.ui-selectonemenu-list{padding:.4em;border:0
none}.ui-selectonemenu-panel .ui-selectonemenu-list-item{border:0
none;margin:1px 0;padding:3px
5px;text-align:left;white-space:nowrap}.ui-selectonemenu-footer{border:0
none;margin:1px 0;padding:3px 5px}.ui-selectonemenu-panel
.ui-selectonemenu-table{border-collapse:collapse;width:100%}.ui-selectonemenu-panel
.ui-selectonemenu-table td{border-color:inherit}.ui-selectonemenu-panel
.ui-selectonemenu-table th,.ui-selectonemenu-panel
.ui-selectonemenu-table
td{border-width:1px;border-style:solid;padding:4px 10px 4px
10px}.ui-selectonemenu-panel
.ui-selectonemenu-filter{width:85%;padding-right:15px}.ui-selectonemenu-panel
.ui-selectonemenu-filter-container{position:relative;margin:0;padding:.4em;display:inline-block;width:100%}.ui-selectonemenu-panel
.ui-selectonemenu-filter-container
.ui-icon{position:absolute;top:10px;right:10px}.ui-selectonemenu-rtl{direction:rtl;-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);-ms-transform:scaleX(-1);transform:scaleX(-1)}.ui-selectonemenu-rtl
.ui-selectonemenu-label{-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);-ms-transform:scaleX(-1);transform:scaleX(-1);text-align:right}.ui-selectonemenu-panel-rtl
.ui-selectonemenu-list-item{text-align:right}.ui-state-disabled
a{outline:0}.ui-button{display:inline-block;position:relative;padding:0;margin-right:.1em;text-decoration:none!important;cursor:pointer;text-align:center;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);overflow:visible}.ui-button-icon-only{width:2.4em}.ui-button
.ui-button-text{display:block;line-height:normal}.ui-button-text-only
.ui-button-text{padding:.3em 1em}.ui-button-icon-only
.ui-button-text{padding:.3em;text-indent:-9999999px}.ui-button-text-icon-left
.ui-button-text{padding:.3em 1em .3em 2.1em}.ui-button-text-icon-right
.ui-button-text{padding:.3em 2.1em .3em 1em}.ui-button-icon-only
.ui-icon,.ui-button-text-icon-left .ui-icon,.ui-button-text-icon-right
.ui-icon{position:absolute;top:50%;margin-top:-8px}.ui-button-icon-only
.ui-icon.fa,.ui-button-text-icon-left
.ui-icon.fa,.ui-button-text-icon-right .ui-icon.fa,.ui-button-icon-only
.ui-icon.fab,.ui-button-text-icon-left
.ui-icon.fab,.ui-button-text-icon-right
.ui-icon.fab,.ui-button-icon-only .ui-icon.far,.ui-button-text-icon-left
.ui-icon.far,.ui-button-text-icon-right
.ui-icon.far,.ui-button-icon-only .ui-icon.fas,.ui-button-text-icon-left
.ui-icon.fas,.ui-button-text-icon-right
.ui-icon.fas,.ui-button-icon-only .ui-icon.fal,.ui-button-text-icon-left
.ui-icon.fal,.ui-button-text-icon-right
.ui-icon.fal{margin-top:-7px}.ui-button-icon-only
.ui-icon{left:50%;margin-left:-8px}.ui-button-icon-left{left:.5em}.ui-button-icon-right{right:.5em}.ui-buttonset
.ui-button{margin-left:0;margin-right:0}button.ui-button::-moz-focus-inner{border:0;padding:0}.ui-linkbutton.ui-button.ui-state-default>a{color:inherit}.ui-linkbutton.ui-button.ui-state-hover>a{color:inherit}.ui-selectcheckboxmenu{display:inline-block;position:relative;width:auto;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);cursor:pointer}.ui-selectcheckboxmenu
.ui-selectcheckboxmenu-trigger{border-right:0;border-top:0;border-bottom:0;cursor:pointer;width:16px;height:100%;position:absolute;right:0;top:0;padding:0
3px}.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger
.ui-icon{margin-top:3px}.ui-selectcheckboxmenu
.ui-selectcheckboxmenu-label{display:block;padding:3px 26px 3px
5px;width:auto;border:0;cursor:pointer}.ui-selectcheckboxmenu.ui-state-disabled
.ui-selectcheckboxmenu-trigger,.ui-selectcheckboxmenu.ui-state-disabled
.ui-selectcheckboxmenu-label{cursor:auto}.ui-selectcheckboxmenu-panel{padding:.2em;position:absolute;overflow:hidden;-moz-box-shadow:0
5px 10px rgba(0,0,0,0.8);-webkit-box-shadow:0 5px 10px
rgba(0,0,0,0.8);box-shadow:0 5px 10px
rgba(0,0,0,0.8)}.ui-selectcheckboxmenu-panel
.ui-selectcheckboxmenu-items-wrapper{overflow:auto;position:relative;padding:.2em
0}.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-list{border:0
none}.ui-selectcheckboxmenu-panel
.ui-selectcheckboxmenu-list-item{border:0
none;cursor:pointer;font-weight:normal;margin:1px 0;padding:3px
5px;text-align:left;white-space:nowrap}.ui-selectcheckboxmenu-panel
.ui-selectcheckboxmenu-list-item{display:block;position:relative}.ui-selectcheckboxmenu-panel
.ui-selectcheckboxmenu-list-item
.ui-chkbox{position:absolute;top:50%;margin-top:-8px}.ui-selectcheckboxmenu-panel
.ui-selectcheckboxmenu-list-item
label{display:block;padding-left:2em}.ui-selectcheckboxmenu-panel
.ui-selectcheckboxmenu-item-group{font-weight:bold}.ui-selectcheckboxmenu-header{margin-bottom:.3em;padding:.3em
0 .3em .4em}.ui-selectcheckboxmenu-header
.ui-chkbox{float:left;cursor:pointer}.ui-selectcheckboxmenu-header
.ui-selectcheckboxmenu-filter-container{float:left;position:relative;margin-left:5px}.ui-selectcheckboxmenu-header
.ui-selectcheckboxmenu-filter-container
.ui-icon{position:absolute;right:5px;top:2px}.ui-selectcheckboxmenu-header
.ui-inputfield{padding:1px 20px 1px 2px}.ui-selectcheckboxmenu-header
span.ui-icon{float:left}.ui-selectcheckboxmenu-header
a.ui-selectcheckboxmenu-all,.ui-selectcheckboxmenu-header
a.ui-selectcheckboxmenu-none{float:left;margin-right:10px;display:block}.ui-selectcheckboxmenu-header
.ui-selectcheckboxmenu-close{float:right;padding:1px;margin-right:.2em;display:block}.ui-selectcheckboxmenu-header
.ui-selectcheckboxmenu-close.ui-state-hover{padding:0}.ui-selectcheckboxmenu-multiple-container{clear:left;cursor:pointer;list-style-type:none;margin:0;min-height:24px;overflow:hidden;min-width:100px}.ui-selectcheckboxmenu-multiple-container.ui-inputfield{padding:0
22px 0
0;border:0}.ui-selectcheckboxmenu-multiple-container:empty:after{content:attr(label);padding:1px
3px;white-space:nowrap;margin:2px;display:inline-block}.ui-selectcheckboxmenu-token{cursor:default;float:left;overflow:hidden;padding:1px
3px;white-space:nowrap;position:relative;margin:2px}.ui-selectcheckboxmenu-token-label{display:block;padding:0
2.1em 0
.5em}.ui-selectcheckboxmenu-token-icon{margin-top:-9px;position:absolute;right:.2em;top:50%;cursor:pointer}.ui-selectcheckboxmenu-input-token{float:left;list-style-type:none;margin:1px;padding:0}.ui-selectcheckboxmenu-input-token
input{border:0 none;width:140px;outline:medium
none;background-color:transparent;margin:2px}.ui-selectcheckboxmenu-multiple
.ui-selectcheckboxmenu-trigger
.ui-icon{position:relative;top:50%;margin-top:-8px}.ui-splitbutton{position:relative;padding-right:2em}.ui-splitbutton
.ui-button.ui-splitbutton-menubutton{position:absolute;top:0;margin-left:-1px;right:0}.ui-splitbuttonmenu
.ui-splitbuttonmenu-filter-container{position:relative;margin:0;padding:.4em
0;display:inline-block}.ui-splitbuttonmenu
.ui-splitbuttonmenu-filter{width:100%;padding-right:15px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.ui-splitbuttonmenu
.ui-splitbuttonmenu-filter-container
.ui-icon{position:absolute;top:10px;right:10px}.ui-splitbuttonmenu
.ui-splitbuttonmenu-list-wrapper{overflow:auto}.ui-splitbuttonmenu.ui-menu
.ui-menu-list .ui-widget-header,.ui-splitbuttonmenu.ui-menu
.ui-menuitem-link{width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}div.ui-button,.ui-splitbutton{display:inline-block;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}.ui-password-panel{padding:4px
10px;width:150px;margin-top:2px}.ui-password-panel
.ui-password-meter{height:10px;background:transparent
url("/avalon/javax.faces.resource/forms/password-meter.png.xhtml?ln=primefaces&v=8.0")
no-repeat left
top;padding:0;margin:0}.ui-password-info{margin-top:4px}.ui-password-panel-overlay{position:absolute}.ui-outputlabel.ui-state-error{border:0
none}.ui-outputlabel
.ui-outputlabel-rfi{margin-left:.4em}.ui-selectonebutton{display:inline-block;padding:1px}.ui-selectonebutton.ui-state-error{padding:0}.ui-selectonebutton
.ui-button.ui-state-focus{outline:0}.ui-selectmanybutton{display:inline-block;padding:1px}.ui-selectmanybutton.ui-state-error{padding:0}.ui-selectmanybutton
.ui-button.ui-state-focus{outline:0}.ui-fluid
.ui-inputfield{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.ui-fluid
.ui-inputtext{width:100%}.ui-fluid .ui-inputnumber{width:100%}.ui-fluid
.ui-inputtext[size],.ui-fluid .ui-inputfield[size]{width:auto}.ui-fluid
.ui-inputtextarea{width:100%}.ui-fluid
.ui-selectonemenu{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.ui-fluid
.ui-selectonemenu .ui-selectonemenu-trigger{width:32px;padding:0
6px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.ui-fluid
.ui-calendar,.ui-fluid .ui-calendar input{width:100%}.ui-fluid
.ui-calendar{position:relative}.ui-fluid .ui-trigger-calendar
.ui-datepicker-trigger.ui-button{position:absolute;right:-2px;width:2.4em}.ui-fluid
.ui-trigger-calendar .ui-button-icon-only
.ui-button-text{padding:.28em}.ui-fluid .ui-trigger-calendar
input.hasDatepicker{padding-right:2.4em}.ui-fluid
.ui-spinner{width:100%}.ui-fluid .ui-spinner
.ui-spinner-input{padding-right:36px;width:100%}.ui-fluid .ui-spinner
.ui-spinner-button{width:auto}.ui-fluid .ui-spinner .ui-spinner-button
.ui-icon{left:6px}.ui-fluid .ui-autocomplete,.ui-fluid
.ui-autocomplete-input{width:100%}.ui-fluid .ui-autocomplete
.ui-autocomplete-dropdown.ui-button{width:2.4em}.ui-fluid
.ui-inputmask{width:100%}.ui-fluid .ui-password{width:100%}.ui-fluid
.ui-keyboard-input{width:100%}.ui-fluid
.ui-selectcheckboxmenu{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.ui-fluid
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger
.ui-icon{margin-left:auto;margin-right:auto}.ui-fluid
.ui-selectcheckboxmenu-trigger{width:32px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.ui-fluid
.ui-button{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.ui-fluid
.ui-buttonset{width:100%}.ui-fluid .ui-buttonset.ui-buttonset-1
.ui-button{width:100%}.ui-fluid .ui-buttonset.ui-buttonset-2
.ui-button{width:50%}.ui-fluid .ui-buttonset.ui-buttonset-3
.ui-button{width:33.3%}.ui-fluid .ui-buttonset.ui-buttonset-4
.ui-button{width:25%}.ui-fluid .ui-buttonset.ui-buttonset-5
.ui-button{width:20%}.ui-fluid .ui-buttonset.ui-buttonset-6
.ui-button{width:16.6%}@media(max-width:640px){.ui-fluid
.ui-buttonset.ui-buttonset-1 .ui-button,.ui-fluid
.ui-buttonset.ui-buttonset-2 .ui-button,.ui-fluid
.ui-buttonset.ui-buttonset-3 .ui-button,.ui-fluid
.ui-buttonset.ui-buttonset-4 .ui-button,.ui-fluid
.ui-buttonset.ui-buttonset-5 .ui-button,.ui-fluid
.ui-buttonset.ui-buttonset-6 .ui-button{width:100%}}.ui-fluid
.ui-splitbutton{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.ui-fluid
.ui-splitbutton .ui-button{width:100%}.ui-fluid .ui-splitbutton
.ui-button.ui-splitbutton-menubutton{width:32px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.ui-fluid
.ui-selectonelistbox,.ui-fluid
.ui-selectmanymenu{width:100%}.ui-float-label{display:block;position:relative}.ui-float-label>label{font-weight:normal;position:absolute;pointer-events:none;left:.25em;top:50%;margin-top:-.5em;transition:.3s
ease all;-moz-transition:.3s ease all;-webkit-transition:.3s ease
all;color:#898989;line-height:1}.ui-float-label>textarea ~
label{top:1.2em}.ui-float-label>input:focus ~
label,.ui-float-label>input.ui-state-filled ~
label,.ui-float-label>textarea:focus ~
label,.ui-float-label>textarea.ui-state-filled ~
label,.ui-float-label>.ui-inputwrapper-focus ~
label,.ui-float-label>.ui-inputwrapper-filled ~
label{top:-.75em;font-size:12px}.ui-float-label>input:-webkit-autofill ~
label,.ui-float-label>textarea:-webkit-autofill ~
label{top:-.75em;font-size:12px}
.ui-inputgroup{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex}.ui-inputgroup
.ui-inputgroup-addon,.ui-inputgroup
.ui-inputgroup-addon-checkbox{display:inline-block;text-align:center;min-width:1.5em;border-width:1px;border-style:solid}.ui-inputgroup
.ui-inputgroup-addon{padding:4px}.ui-inputgroup
.ui-inputgroup-addon-checkbox{padding:1px}.ui-inputgroup
.ui-inputgroup-addon+.ui-inputgroup-addon{border-left:0
none}.ui-inputgroup .ui-inputtext,.ui-inputgroup
.ui-inputtextarea,.ui-inputgroup .ui-password,.ui-inputgroup
.ui-autocomplete-input,.ui-inputgroup .ui-chips-container,.ui-inputgroup
.ui-spinner-input{padding-left:.5em}.ui-inputgroup>.ui-inputtext:not(:first-child),.ui-inputgroup>.ui-inputtextarea:not(:first-child),.ui-inputgroup>.ui-password:not(:first-child),.ui-inputgroup>.ui-inputnumber:not(:first-child)>.ui-inputtext,.ui-inputgroup>.ui-inputmask:not(:first-child),.ui-inputgroup>.ui-calendar:not(:first-child)>.ui-inputfield,.ui-inputgroup>.ui-chips:not(:first-child)>.ui-chips-container,.ui-inputgroup>.ui-selectonemenu:not(:first-child),.ui-inputgroup>.ui-selectonebutton:not(:first-child)>.ui-button,.ui-inputgroup>.ui-autocomplete:not(:first-child)>.ui-autocomplete-input,.ui-inputgroup>.ui-spinner:not(:first-child),.ui-inputgroup>.ui-spinner:not(:first-child)>.ui-spinner-input{border-top-left-radius:0;border-bottom-left-radius:0;border-left:0
none}.ui-inputgroup>.ui-inputtext:not(:last-child),.ui-inputgroup>.ui-inputtextarea:not(:last-child),.ui-inputgroup>.ui-password:not(:last-child),.ui-inputgroup>.ui-inputnumber:not(:last-child)>.ui-inputtext,.ui-inputgroup>.ui-inputmask:not(:last-child),.ui-inputgroup>.ui-selectonemenu:not(:last-child),.ui-inputgroup>.ui-calendar:not(:last-child)>.ui-inputfield,.ui-inputgroup>.ui-chips:not(:last-child)>.ui-chips-container,.ui-inputgroup>.ui-selectonebutton:not(:last-child)>.ui-button,.ui-inputgroup>.ui-autocomplete:not(:last-child)>.ui-autocomplete-input,.ui-inputgroup>.ui-spinner:not(:last-child),.ui-inputgroup>.ui-spinner:not(:last-child)>.ui-spinner-input,.ui-inputgroup>.ui-spinner:not(:last-child)>.ui-spinner-button{border-top-right-radius:0;border-bottom-right-radius:0;border-right:0
none}.ui-inputgroup
.ui-button{margin-right:0;border-radius:0}.ui-inputgroup
.ui-inputgroup-addon-checkbox
.ui-chkbox{margin-right:0;vertical-align:bottom;position:relative;top:2px}.ui-inputgroup
.ui-button .ui-button-text{padding-bottom:4px;padding-top:4px}.ui-fluid
.ui-inputgroup .ui-button{width:auto}.ui-fluid .ui-inputgroup
.ui-button-icon-only{min-width:2.2em}
.ui-grid{clear:both;padding:0;margin:0}.ui-grid::before,.ui-grid::after{content:"";display:table}.ui-grid::after{clear:both}.ui-grid
.ui-grid-row{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;clear:both}.ui-grid-row::after{clear:both;content:"";display:table}.ui-grid-col-1,.ui-grid-col-2,.ui-grid-col-3,.ui-grid-col-4,.ui-grid-col-5,.ui-grid-col-6,.ui-grid-col-7,.ui-grid-col-8,.ui-grid-col-9,.ui-grid-col-10,.ui-grid-col-11,.ui-grid-col-12{float:left;box-sizing:border-box}.ui-grid-col-1{width:8.33333333%}.ui-grid-col-2{width:16.66666667%}.ui-grid-col-3{width:25%}.ui-grid-col-4{width:33.33333333%}.ui-grid-col-5{width:41.66666667%}.ui-grid-col-6{width:50%}.ui-grid-col-7{width:58.33333333%}.ui-grid-col-8{width:66.66666667%}.ui-grid-col-9{width:75%}.ui-grid-col-10{width:83.33333333%}.ui-grid-col-11{width:91.66666667%}.ui-grid-col-12{width:100%}@media(min-width:480px){.ui-grid-fixed{width:480px}}@media(min-width:768px){.ui-grid-fixed{width:768px}}@media(min-width:960px){.ui-grid-fixed{width:960px}}@media(min-width:1024px){.ui-grid-fixed{width:1024px}}@media(max-width:640px){.ui-grid-responsive
.ui-grid-row{display:block}.ui-grid-responsive
.ui-grid-col-1,.ui-grid-responsive .ui-grid-col-2,.ui-grid-responsive
.ui-grid-col-3,.ui-grid-responsive .ui-grid-col-4,.ui-grid-responsive
.ui-grid-col-5,.ui-grid-responsive .ui-grid-col-6,.ui-grid-responsive
.ui-grid-col-7,.ui-grid-responsive .ui-grid-col-8,.ui-grid-responsive
.ui-grid-col-9,.ui-grid-responsive .ui-grid-col-10,.ui-grid-responsive
.ui-grid-col-11,.ui-grid-responsive
.ui-grid-col-12{width:100%;float:none}}.ui-grid.ui-grid-pad>.ui-grid-row>div{padding:.25em
.5em}@media(max-width:640px){.ui-grid-responsive
.ui-grid-row{display:block}.ui-grid-responsive
.ui-grid-col-1,.ui-grid-responsive .ui-grid-col-2,.ui-grid-responsive
.ui-grid-col-3,.ui-grid-responsive .ui-grid-col-4,.ui-grid-responsive
.ui-grid-col-5,.ui-grid-responsive .ui-grid-col-6,.ui-grid-responsive
.ui-grid-col-7,.ui-grid-responsive .ui-grid-col-8,.ui-grid-responsive
.ui-grid-col-9,.ui-grid-responsive .ui-grid-col-10,.ui-grid-responsive
.ui-grid-col-11,.ui-grid-responsive
.ui-grid-col-12{width:100%;float:none}}.ui-g{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-wrap:wrap;box-sizing:border-box}.ui-g::after{clear:both;content:"";display:table;box-sizing:border-box}.ui-g-1,.ui-g-2,.ui-g-3,.ui-g-4,.ui-g-5,.ui-g-6,.ui-g-7,.ui-g-8,.ui-g-9,.ui-g-10,.ui-g-11,.ui-g-12{float:left;box-sizing:border-box;padding:.5em}.ui-g-1{width:8.33333333%}.ui-g-2{width:16.66666667%}.ui-g-3{width:25%}.ui-g-4{width:33.33333333%}.ui-g-5{width:41.66666667%}.ui-g-6{width:50%}.ui-g-7{width:58.33333333%}.ui-g-8{width:66.66666667%}.ui-g-9{width:75%}.ui-g-10{width:83.33333333%}.ui-g-11{width:91.66666667%}.ui-g-12{width:100%}.ui-g-offset-12{margin-left:100%}.ui-g-offset-11{margin-left:91.66666667%}.ui-g-offset-10{margin-left:83.33333333%}.ui-g-offset-9{margin-left:75%}.ui-g-offset-8{margin-left:66.66666667%}.ui-g-offset-7{margin-left:58.33333333%}.ui-g-offset-6{margin-left:50%}.ui-g-offset-5{margin-left:41.66666667%}.ui-g-offset-4{margin-left:33.33333333%}.ui-g-offset-3{margin-left:25%}.ui-g-offset-2{margin-left:16.66666667%}.ui-g-offset-1{margin-left:8.33333333%}.ui-g-offset-0{margin-left:0}@media
screen and
(max-width:40em){.ui-sm-1,.ui-sm-2,.ui-sm-3,.ui-sm-4,.ui-sm-5,.ui-sm-6,.ui-sm-7,.ui-sm-8,.ui-sm-9,.ui-sm-10,.ui-sm-11,.ui-sm-12{padding:.5em}.ui-sm-1{width:8.33333333%}.ui-sm-2{width:16.66666667%}.ui-sm-3{width:25%}.ui-sm-4{width:33.33333333%}.ui-sm-5{width:41.66666667%}.ui-sm-6{width:50%}.ui-sm-7{width:58.33333333%}.ui-sm-8{width:66.66666667%}.ui-sm-9{width:75%}.ui-sm-10{width:83.33333333%}.ui-sm-11{width:91.66666667%}.ui-sm-12{width:100%}.ui-sm-offset-12{margin-left:100%}.ui-sm-offset-11{margin-left:91.66666667%}.ui-sm-offset-10{margin-left:83.33333333%}.ui-sm-offset-9{margin-left:75%}.ui-sm-offset-8{margin-left:66.66666667%}.ui-sm-offset-7{margin-left:58.33333333%}.ui-sm-offset-6{margin-left:50%}.ui-sm-offset-5{margin-left:41.66666667%}.ui-sm-offset-4{margin-left:33.33333333%}.ui-sm-offset-3{margin-left:25%}.ui-sm-offset-2{margin-left:16.66666667%}.ui-sm-offset-1{margin-left:8.33333333%}.ui-sm-offset-0{margin-left:0}}@media
screen and
(min-width:40.063em){.ui-md-1,.ui-md-2,.ui-md-3,.ui-md-4,.ui-md-5,.ui-md-6,.ui-md-7,.ui-md-8,.ui-md-9,.ui-md-10,.ui-md-11,.ui-md-12{padding:.5em}.ui-md-1{width:8.33333333%}.ui-md-2{width:16.66666667%}.ui-md-3{width:25%}.ui-md-4{width:33.33333333%}.ui-md-5{width:41.66666667%}.ui-md-6{width:50%}.ui-md-7{width:58.33333333%}.ui-md-8{width:66.66666667%}.ui-md-9{width:75%}.ui-md-10{width:83.33333333%}.ui-md-11{width:91.66666667%}.ui-md-12{width:100%}.ui-md-offset-12{margin-left:100%}.ui-md-offset-11{margin-left:91.66666667%}.ui-md-offset-10{margin-left:83.33333333%}.ui-md-offset-9{margin-left:75%}.ui-md-offset-8{margin-left:66.66666667%}.ui-md-offset-7{margin-left:58.33333333%}.ui-md-offset-6{margin-left:50%}.ui-md-offset-5{margin-left:41.66666667%}.ui-md-offset-4{margin-left:33.33333333%}.ui-md-offset-3{margin-left:25%}.ui-md-offset-2{margin-left:16.66666667%}.ui-md-offset-1{margin-left:8.33333333%}.ui-md-offset-0{margin-left:0}}@media
screen and
(min-width:64.063em){.ui-lg-1,.ui-lg-2,.ui-lg-3,.ui-lg-4,.ui-lg-5,.ui-lg-6,.ui-lg-7,.ui-lg-8,.ui-lg-9,.ui-lg-10,.ui-lg-11,.ui-lg-12{padding:.5em}.ui-lg-1{width:8.33333333%}.ui-lg-2{width:16.66666667%}.ui-lg-3{width:25%}.ui-lg-4{width:33.33333333%}.ui-lg-5{width:41.66666667%}.ui-lg-6{width:50%}.ui-lg-7{width:58.33333333%}.ui-lg-8{width:66.66666667%}.ui-lg-9{width:75%}.ui-lg-10{width:83.33333333%}.ui-lg-11{width:91.66666667%}.ui-lg-12{width:100%}.ui-lg-offset-12{margin-left:100%}.ui-lg-offset-11{margin-left:91.66666667%}.ui-lg-offset-10{margin-left:83.33333333%}.ui-lg-offset-9{margin-left:75%}.ui-lg-offset-8{margin-left:66.66666667%}.ui-lg-offset-7{margin-left:58.33333333%}.ui-lg-offset-6{margin-left:50%}.ui-lg-offset-5{margin-left:41.66666667%}.ui-lg-offset-4{margin-left:33.33333333%}.ui-lg-offset-3{margin-left:25%}.ui-lg-offset-2{margin-left:16.66666667%}.ui-lg-offset-1{margin-left:8.33333333%}.ui-lg-offset-0{margin-left:0}}@media
screen and
(min-width:90.063em){.ui-xl-1,.ui-xl-2,.ui-xl-3,.ui-xl-4,.ui-xl-5,.ui-xl-6,.ui-xl-7,.ui-xl-8,.ui-xl-9,.ui-xl-10,.ui-xl-11,.ui-xl-12{padding:.5em}.ui-xl-1{width:8.33333333%}.ui-xl-2{width:16.66666667%}.ui-xl-3{width:25%}.ui-xl-4{width:33.33333333%}.ui-xl-5{width:41.66666667%}.ui-xl-6{width:50%}.ui-xl-7{width:58.33333333%}.ui-xl-8{width:66.66666667%}.ui-xl-9{width:75%}.ui-xl-10{width:83.33333333%}.ui-xl-11{width:91.66666667%}.ui-xl-12{width:100%}.ui-xl-offset-12{margin-left:100%}.ui-xl-offset-11{margin-left:91.66666667%}.ui-xl-offset-10{margin-left:83.33333333%}.ui-xl-offset-9{margin-left:75%}.ui-xl-offset-8{margin-left:66.66666667%}.ui-xl-offset-7{margin-left:58.33333333%}.ui-xl-offset-6{margin-left:50%}.ui-xl-offset-5{margin-left:41.66666667%}.ui-xl-offset-4{margin-left:33.33333333%}.ui-xl-offset-3{margin-left:25%}.ui-xl-offset-2{margin-left:16.66666667%}.ui-xl-offset-1{margin-left:8.33333333%}.ui-xl-offset-0{margin-left:0}}.ui-g-nopad{padding:0}
.ui-growl{position:fixed;top:20px;right:20px;width:301px}.ui-growl-item-container{position:relative;margin:0
0 10px
0;opacity:.85;filter:alpha(opacity=85)}.ui-growl-item{display:block;padding:10px
15px}.ui-growl-item
p{padding:0;margin:0}.ui-growl-icon-close{position:absolute;top:5px;right:3px;cursor:pointer}.ui-growl-title{font-weight:bold;padding:0
0 7px
0;display:block}.ui-growl-image{width:32px;height:32px;float:left;margin:0;padding:0;display:block;background:url("/avalon/javax.faces.resource/messages/messages.png.xhtml?ln=primefaces&v=8.0")
no-repeat}.ui-growl-image-info{background-position:0
-264px}.ui-growl-image-warn{background-position:0
-396px}.ui-growl-image-error{background-position:0
0}.ui-growl-image-fatal{background-position:0
-132px}.ui-growl-message{padding:0 0 5px
0;width:220px;float:right}.ui-growl-message p{font-weight:normal}
.ui-inplace .ui-inplace-display{cursor:pointer;border:0
none!important}.ui-inplace
.ui-inplace-disabled{cursor:default}.ui-inplace
.ui-inplace-editor{margin-left:.1em}
.ui-lightbox{position:fixed}.ui-lightbox-content-wrapper{position:relative}.ui-lightbox-content{position:relative;margin:0;padding:0;background-color:#000}.ui-lightbox-nav-right,.ui-lightbox-nav-left{position:absolute;top:50%;cursor:pointer}.ui-lightbox-nav-left{left:0}.ui-lightbox-nav-right{right:0}.ui-lightbox-loading{background:url("/avalon/javax.faces.resource/lightbox/images/loading.gif.xhtml?ln=primefaces&v=8.0")
#000 center center no-repeat}.ui-lightbox-caption{padding:.2em
.4em;display:none}.ui-lightbox-caption-text{margin:.3em 0 .1em
0;float:left}.ui-lightbox-close{float:right;margin:0;padding:1px}.ui-lightbox-close.ui-state-hover{padding:0}
.ui-menu{width:12.5em;padding:.3em;position:relative;outline:0
none}.ui-menu.ui-menu-dynamic{position:absolute;display:none;z-index:100000}.ui-menu.ui-menu-dynamic-maxheight{overflow-y:auto}.ui-menu-list{position:static}.ui-menu
.ui-menu-list .ui-menuitem{border:0}.ui-menu .ui-menu-list
.ui-widget-header{clear:both;float:left;width:98%;margin:1px 0}.ui-menu
.ui-menuitem{width:100%;float:left;clear:both;margin:1px
0;padding:0}.ui-menu
.ui-menuitem-parent{width:100%;float:left;clear:both;margin:1px
0;padding:0}.ui-menu
.ui-menuitem-link{display:block;width:92%;outline:0;text-decoration:none;font-weight:400;border:solid
1px
transparent;float:left;line-height:16px;padding:.3em;cursor:pointer}.ui-menu
.ui-menuitem-link .ui-menuitem-icon,.ui-menu
.ui-submenu-icon{display:inline-block;float:left}.ui-menu
.ui-submenu-icon{margin-top:1px}.ui-menu
.ui-menuitem-text{float:left}.ui-menu .ui-widget-header h1,.ui-menu
.ui-widget-header h2,.ui-menu .ui-widget-header h3,.ui-menu
.ui-widget-header h4,.ui-menu .ui-widget-header h5,.ui-menu
.ui-widget-header h6{float:left;display:block;font-size:1em;margin:0
auto;padding:.3em 3%}.ui-menu .ui-menu-parent
.ui-menu-child{display:none;width:12.5em;padding:.3em;position:absolute;margin:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-menu
.ui-menu-parent{position:relative}.ui-menu.ui-menu-toggleable
li.ui-widget-header{position:relative;min-height:0}.ui-menu.ui-menu-toggleable
li.ui-widget-header h3{padding-left:2em}.ui-menu.ui-menu-toggleable
li.ui-widget-header.ui-state-hover{cursor:pointer}.ui-menu.ui-menu-toggleable
li.ui-widget-header
.ui-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}.ui-menu
.ui-menu-parent .ui-icon-triangle-1-e,.ui-menu .ui-menu-parent
.ui-icon-triangle-1-s,.ui-menubar .ui-menu-child
.ui-icon-triangle-1-s,.ui-menubar .ui-menu-child
.ui-icon-triangle-1-s{float:right}.ui-menubutton{padding:0;position:relative;display:inline-block}.ui-menubutton
.ui-button{margin:0}.ui-menubar{width:auto}.ui-menubar
.ui-menuitem{width:auto;clear:none}.ui-menubar .ui-menu-child
.ui-menuitem{width:100%}.ui-menubar
.ui-menu-child{top:25px;left:0}.ui-menubar
.ui-menuitem-link{width:auto;padding:.4em .3em}.ui-menubar
.ui-menu-child .ui-menuitem-link{width:92%}.ui-menubar
.ui-widget-header{clear:none;width:auto;margin:0 3px 0 0}.ui-menubar
.ui-widget-header h1,.ui-menubar .ui-widget-header h2,.ui-menubar
.ui-widget-header h3,.ui-menubar .ui-widget-header h4,.ui-menubar
.ui-widget-header h5,.ui-menubar .ui-widget-header h6{padding:.4em
.3em}.ui-menubar
.ui-menubar-options{float:right}.ui-menubar>.ui-menu-list>.ui-menuitem>.ui-menuitem-link
span.ui-icon-triangle-1-e,.ui-menubar>.ui-menu-list>.ui-menuitem>.ui-menuitem-link
span.ui-icon-triangle-1-s{*float:none}.ui-menu
.ui-separator{width:98%;height:0;float:left;clear:both;margin:1px 0 0
0;padding:0;border-top:0 none}.ui-megamenu
td{vertical-align:top}.ui-menu.ui-megamenu .ui-menu-parent
.ui-menu-child{width:auto}.ui-menu.ui-megamenu
.ui-menu-child>table{width:auto}.ui-menu.ui-megamenu .ui-menu-child
.ui-menu-list{width:12.5em}.ui-megamenu-vertical{width:12.5em}.ui-megamenu-vertical
.ui-menu-parent{clear:both;width:100%}.ui-megamenu-vertical
.ui-submenu-link.ui-menuitem-link{width:92%}.ui-megamenu
.ui-widget-header span{display:block;float:left;font-size:1em;margin:0
auto;padding:.4em
.3em}.ui-breadcrumb{margin:0;padding:0;overflow:hidden;padding:5px 5px
7px 5px}.ui-breadcrumb
ul{margin:0;padding:0;display:block}.ui-breadcrumb ul
li{display:block;float:left;position:relative;overflow:hidden}.ui-breadcrumb
ul li span{display:block;overflow:hidden}.ui-breadcrumb ul li
.ui-menuitem-link{display:block;position:relative;overflow:hidden;float:left;*cursor:pointer;margin-top:3px}.ui-breadcrumb
ul li
a.ui-icon-home{padding:0;margin-top:1px;overflow:hidden}.ui-breadcrumb-chevron{float:left;margin-top:2px}.ui-breadcrumb
.ui-breadcrumb-options{float:right}.ui-slidemenu
.ui-slidemenu-wrapper{position:relative}.ui-slidemenu
.ui-slidemenu-content{overflow-x:hidden;overflow-y:auto;position:relative}.ui-slidemenu
.ui-menu-list{position:absolute;top:0}.ui-slidemenu
.ui-menu-parent{position:static}.ui-slidemenu
.ui-menu-child{box-shadow:none;border:0 none;background:none repeat
scroll 0 0
transparent}.ui-slidemenu-backward{position:absolute;bottom:0;width:95%;margin-bottom:.4em;padding:.2em;cursor:pointer;display:none}.ui-slidemenu-backward
.ui-icon{float:left}.ui-splitbuttonmenu{width:auto}.ui-panelmenu{width:auto}.ui-panelmenu
.ui-panelmenu-panel{padding:0;margin:0}.ui-panelmenu
.ui-panelmenu-header{cursor:pointer;position:relative;margin:0;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}.ui-panelmenu
.ui-panelmenu-header a{display:block;padding:.5em .5em .5em
2.2em}.ui-panelmenu .ui-panelmenu-header
.ui-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}.ui-panelmenu
.ui-panelmenu-content{padding:.2em
0;border-top:0;margin-top:-2px;position:relative;top:1px;overflow:auto;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);outline:0}.ui-panelmenu
.ui-panelmenu-header.ui-state-disabled,.ui-panelmenu
.ui-panelmenu-header.ui-state-disabled a{cursor:default}.ui-panelmenu
.ui-menu-list{position:static}.ui-panelmenu .ui-menuitem{margin:1px
0;padding:0}.ui-panelmenu
.ui-menuitem-link{display:block;outline:0;text-decoration:none;font-weight:400;border:solid
1px
transparent;line-height:16px;cursor:pointer;position:relative;padding:.3em
.3em .3em 2em}.ui-panelmenu .ui-menu-parent
.ui-menuitem-link-hasicon{padding-left:2.8em}.ui-panelmenu
.ui-icon{position:absolute;right:auto;top:0;bottom:0;margin:auto
0;left:.5em}.ui-panelmenu
.ui-menu-parent>.ui-menuitem-link>.ui-icon{left:1.5em}.ui-panelmenu
.ui-menu-parent .ui-panelmenu-icon.ui-icon{left:.5em}.ui-panelmenu
.ui-menuitem-text{float:none}.ui-panelmenu .ui-menu-parent
.ui-menu-list{margin-left:20px}.ui-menuitem-outline{outline:1px
dotted;z-index:1}.ui-tabmenu{position:relative;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}.ui-tabmenu
.ui-tabmenu-nav{margin:0;padding:.2em .2em 0}.ui-tabmenu .ui-tabmenu-nav
.ui-tabmenuitem{list-style:none;float:left;position:relative;margin:0
.2em 1px
0;padding:0;white-space:nowrap;display:block;border-bottom:0;top:1px}.ui-tabmenu
.ui-tabmenu-nav .ui-tabmenuitem a{float:left;padding:.5em
1em;text-decoration:none}.ui-tabmenu .ui-tabmenu-nav
.ui-tabmenuitem-hasicon a{padding:.5em 1em .5em .2em}.ui-tabmenu
.ui-tabmenu-nav .ui-tabmenuitem
.ui-icon{float:left;cursor:pointer}.ui-steps
ul{list-style-type:none;padding:0;margin:0}.ui-steps
.ui-steps-item{float:left;box-sizing:border-box}.ui-steps .ui-steps-item
.ui-menuitem-link{text-decoration:none;display:block;padding:1em;position:relative;text-align:center}.ui-steps
.ui-steps-item.ui-state-highlight .ui-menuitem-link,.ui-steps
.ui-steps-item.ui-state-disabled
.ui-menuitem-link{cursor:default}.ui-steps
.ui-steps-number{font-size:200%;display:block}.ui-steps
.ui-steps-title{display:block;white-space:nowrap}@media(max-width:640px){.ui-steps
.ui-steps-item .ui-menuitem-link{padding:.5em}.ui-steps .ui-steps-item
.ui-steps-title{display:none}}.ui-fluid
.ui-menu{width:100%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.ui-messages-info,.ui-messages-warn,.ui-messages-error,.ui-messages-fatal{border:1px
solid;margin:10px 0;padding:10px 10px 10px
10px}.ui-message-info,.ui-message-error,.ui-message-warn,.ui-message-fatal{border:1px
solid;margin:0 5px;padding:2px
5px}.ui-messages-info-icon,.ui-messages-warn-icon,.ui-messages-error-icon,.ui-messages-fatal-icon,.ui-message-info-icon,.ui-message-warn-icon,.ui-message-error-icon,.ui-message-fatal-icon{background:url("/avalon/javax.faces.resource/messages/messages.png.xhtml?ln=primefaces&v=8.0")
no-repeat;display:block;float:left;margin:0;padding:0;position:relative}.ui-messages-info-icon,.ui-messages-warn-icon,.ui-messages-error-icon,.ui-messages-fatal-icon{height:24px;width:24px;margin-top:-4px}.ui-message-info-icon,.ui-message-warn-icon,.ui-message-error-icon,.ui-message-fatal-icon{height:16px;width:16px}.ui-messages-info-summary,.ui-messages-warn-summary,.ui-messages-error-summary,.ui-messages-fatal-summary,.ui-message-info-summary,.ui-message-warn-summary,.ui-message-error-summary,.ui-message-fatal-summary{margin-left:10px;font-weight:bold}.ui-messages-info-detail,.ui-messages-warn-detail,.ui-messages-error-detail,.ui-messages-fatal-detail,.ui-message-info-detail,.ui-message-warn-detail,.ui-message-error-detail,.ui-message-fatal-detail{margin-left:5px}.ui-messages-info,.ui-message-info{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1}.ui-messages-warn,.ui-message-warn{color:#c09853;background-color:#fcf8e3;border-color:#fbeed5}.ui-messages-error,.ui-message-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.ui-messages-fatal,.ui-message-fatal{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.ui-messages
ul{margin:0
25px;padding:0;list-style-type:none}.ui-messages.ui-messages-noicon
ul{margin:0 25px 0
0}.ui-message-icon-only{width:16px;height:16px}.ui-messages-info-icon{background-position:0
-316px}.ui-messages-warn-icon{background-position:0
-448px}.ui-messages-error-icon{background-position:0
-52px}.ui-messages-fatal-icon{background-position:0
-184px}.ui-message-info-icon{background-position:0
-360px}.ui-message-warn-icon{background-position:0
-492px}.ui-message-error-icon{background-position:0
-96px}.ui-message-fatal-icon{background-position:0 -228px}.ui-messages
.ui-messages-close{float:right;cursor:pointer}
.ui-notificationbar{position:fixed;width:100%;height:100px;display:none;padding:10px}.ui-notificationbar-close{position:absolute;right:3em;top:1em;cursor:pointer}
.ui-orderlist{display:table}.ui-orderlist
.ui-orderlist-caption{width:180px}.ui-orderlist
.ui-orderlist-list{list-style-type:none;margin:0;padding:0;overflow:auto;height:200px;width:200px}.ui-orderlist
.ui-orderlist-list li{margin:1px;padding:2px}.ui-orderlist
.ui-button{display:block;margin-bottom:.3em}.ui-orderlist
.ui-orderlist-button.ui-button-text-icon-primary{width:100%}.ui-orderlist
.ui-orderlist-item{cursor:pointer;border:0
none;font-weight:inherit}.ui-orderlist
.ui-orderlist-caption{text-align:center;padding:4px 0;border-bottom:0
none}.ui-orderlist
table{width:100%;border-collapse:collapse}.ui-orderlist.ui-state-disabled
.ui-orderlist-item,.ui-orderlist.ui-state-disabled
.ui-button{cursor:default}.ui-orderlist.ui-state-disabled
.ui-orderlist-list{overflow:hidden}.ui-orderlist.ui-grid-responsive{display:block;width:100%}.ui-orderlist.ui-grid-responsive
.ui-orderlist-list,.ui-orderlist.ui-grid-responsive
.ui-orderlist-caption{width:100%}.ui-orderlist.ui-grid-responsive
.ui-orderlist-controls
.ui-button{width:100%}@media(max-width:640px){.ui-orderlist.ui-grid-responsive
.ui-orderlist-controls{text-align:center;padding:0}.ui-orderlist.ui-grid-responsive
.ui-orderlist-controls .ui-button{display:inline;width:20%}}
.ui-outputpanel-loading{background:url("/avalon/javax.faces.resource/outputpanel/images/loading.gif.xhtml?ln=primefaces&v=8.0")
center center no-repeat;width:32px;height:32px}
.ui-overlaypanel{padding:0;margin:0;position:absolute}.ui-overlaypanel-content{padding:.5em
1em}.ui-overlaypanel-close{position:absolute;top:-10px;right:-10px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}.ui-overlaypanel-mask{position:fixed;width:100%;height:100%}
.ui-panel{padding:.2em}.ui-panel .ui-panel-titlebar{padding:.5em 1em
.3em}.ui-panel .ui-panel-title{margin:.1em 16px .2em 0}.ui-panel
.ui-panel-titlebar-icon{float:right;cursor:pointer}.ui-panel
.ui-panel-titlebar-icon,.ui-panel
.ui-panel-titlebar-icon:hover,.ui-panel
.ui-panel-titlebar-icon:focus{margin-left:.2em;margin-top:-0.2em;*margin:-1.5em
0 0 .2em}.ui-panel .ui-panel-content{border:0;background:0;padding:.5em
1em}.ui-panel .ui-panel-footer{border-width:1px 0 0;margin:.5em 0
0;padding:.5em 1em;text-align:left}.ui-panel-collapsed-h
.ui-panel-titlebar-icon,.ui-panel-collapsed-h
.ui-panel-titlebar-icon:hover,.ui-panel-collapsed-h
.ui-panel-titlebar-icon:focus{*margin:-0.2em 0 0
.1em}.ui-panel.ui-panel-collapsed-h{width:42px}.ui-panel.ui-panel-collapsed-h
.ui-panel-title{display:none}.ui-panel .ui-panel-actions{float:right}
.ui-panelgrid{border-collapse:collapse}.ui-panelgrid
.ui-panelgrid-header{text-align:center;padding:4px 10px}.ui-panelgrid
.ui-panelgrid-footer{text-align:left;padding:2px 5px}.ui-panelgrid
.ui-panelgrid-cell{border-width:1px;border-style:solid;border-color:inherit;padding:4px
10px}.ui-panelgrid.ui-noborder .ui-panelgrid-cell{border:0
none}.ui-panelgrid.ui-noborder
.ui-widget-content,.ui-panelgrid.ui-noborder .ui-widget-header{border:0
none}.ui-panelgrid.ui-panelgrid-blank
.ui-panelgrid-content.ui-widget-content,.ui-panelgrid.ui-panelgrid-blank
.ui-panelgrid-header.ui-widget-header,.ui-panelgrid.ui-panelgrid-blank
.ui-panelgrid-footer.ui-widget-header,.ui-panelgrid.ui-panelgrid-blank
.ui-panelgrid-header>tr.ui-widget-header,.ui-panelgrid.ui-panelgrid-blank
tbody>tr.ui-widget-content,.ui-panelgrid.ui-panelgrid-blank
tbody>tr.ui-widget-content>td.ui-panelgrid-cell,.ui-panelgrid.ui-panelgrid-blank
.ui-panelgrid-footer>tr.ui-widget-footer{background:0;border:0
none}.ui-panelgrid
.ui-panelgrid-cell.ui-panelgrid-nopad{padding:0}.ui-panelgrid .p-grid
.ui-panelgrid-cell,.ui-panelgrid .ui-grid-responsive
.ui-panelgrid-cell{border:0 none}@media(max-width:640px){.ui-panelgrid
.ui-grid-responsive .ui-grid-row{border-top:1px solid
#bcc7cf}.ui-panelgrid .ui-grid-responsive
.ui-grid-row:first-child{border-top:0 none}.ui-panelgrid.ui-noborder
.ui-grid-responsive .ui-grid-row{border:0 none}}
.ui-paginator{margin:0;text-align:center;padding:2px}.ui-paginator.ui-paginator-top{border-bottom:0
none}.ui-paginator.ui-paginator-bottom{border-top:0
none}.ui-paginator.ui-paginator-top
.ui-paginator-top-left-content{float:left}.ui-paginator.ui-paginator-top
.ui-paginator-top-right-content{float:right}.ui-paginator.ui-paginator-bottom
.ui-paginator-bottom-left-content{float:left}.ui-paginator.ui-paginator-bottom
.ui-paginator-bottom-right-content{float:right}.ui-paginator
.ui-paginator-page,.ui-paginator .ui-paginator-pages,.ui-paginator
.ui-paginator-next,.ui-paginator .ui-paginator-last,.ui-paginator
.ui-paginator-first,.ui-paginator .ui-paginator-prev,.ui-paginator
.ui-paginator-current{display:inline-block;padding:2px
6px;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);margin-left:1px;margin-right:1px;text-decoration:none;outline:0}.ui-paginator
.ui-paginator-page,.ui-paginator .ui-paginator-next,.ui-paginator
.ui-paginator-last,.ui-paginator .ui-paginator-first,.ui-paginator
.ui-paginator-prev{cursor:pointer}.ui-paginator
.ui-paginator-current,.ui-paginator
.ui-paginator-rpp-options{margin-left:1em;margin-right:1em;background-image:none}.ui-paginator
.ui-paginator-next .ui-icon,.ui-paginator .ui-paginator-prev
.ui-icon,.ui-paginator .ui-paginator-first .ui-icon,.ui-paginator
.ui-paginator-last .ui-icon{height:auto;overflow:inherit}.ui-paginator
.ui-paginator-jtp-select option,.ui-paginator .ui-paginator-rpp-options
option{background-image:none;border:0
none;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none}@media(max-width:640px){.ui-paginator
.ui-paginator-pages{display:none}}
.ui-picklist>div{float:left}.ui-picklist
.ui-picklist-buttons{height:200px;padding:0 5px}.ui-picklist
.ui-picklist-list{list-style-type:none;margin:0;padding:0;overflow:auto;height:200px;width:200px}.ui-picklist
.ui-picklist-list
li{margin:1px;padding:2px;overflow-wrap:break-word}.ui-picklist
.ui-button{display:block;margin-bottom:.3em}.ui-picklist
.ui-button-text-icon-left{width:100%}.ui-picklist
.ui-picklist-item{cursor:pointer;border:0
none;font-weight:inherit}.ui-picklist
.ui-picklist-caption{text-align:center;padding:4px 0;border-bottom:0
none}.ui-picklist table{width:100%;border-collapse:collapse}.ui-picklist
.ui-picklist-filter{padding-right:15px;width:100%;box-sizing:border-box}.ui-picklist
.ui-picklist-filter-container{position:relative;margin:0;padding:0}.ui-picklist
.ui-picklist-filter-container
.ui-icon{position:absolute;top:5px;right:2px}.ui-picklist{display:table}.ui-picklist>div{float:none;display:table-cell;vertical-align:top}.ui-picklist
.ui-picklist-buttons{vertical-align:middle}.ui-picklist.ui-picklist-vertical{display:table}.ui-picklist.ui-picklist-vertical>div{float:none;display:table-row;vertical-align:top}.ui-picklist.ui-picklist-vertical
.ui-picklist-buttons{text-align:center;height:auto}.ui-picklist.ui-picklist-vertical
.ui-picklist-buttons
.ui-button{display:inline-block}.ui-picklist.ui-picklist-vertical
.ui-button{margin-top:.3em}.ui-picklist-outline{outline:1px dotted
black;z-index:1}.ui-picklist-list.ui-picklist-source,.ui-picklist-list.ui-picklist-target{outline:0}.ui-picklist.ui-picklist-responsive
*{box-sizing:border-box}.ui-picklist.ui-picklist-responsive{width:100%}.ui-picklist.ui-picklist-responsive
.ui-picklist-list-wrapper{width:35%}.ui-picklist.ui-picklist-responsive
.ui-picklist-list-wrapper:nth-child(1),.ui-picklist.ui-picklist-responsive
.ui-picklist-list-wrapper:nth-last-child(2){width:45%}.ui-picklist.ui-picklist-responsive
.ui-picklist-buttons{width:10%}.ui-picklist.ui-picklist-responsive
.ui-picklist-buttons
button{width:100%}.ui-picklist.ui-picklist-responsive
.ui-picklist-list{width:auto}.ui-picklist.ui-picklist-responsive
.ui-chkbox-box{width:18px;height:18px}@media(max-width:640px){.ui-picklist.ui-picklist-responsive{display:block}.ui-picklist.ui-picklist-responsive>div{display:block;width:100%!important}.ui-picklist.ui-picklist-responsive
.ui-picklist-buttons{text-align:center;height:auto;padding:5px
0}.ui-picklist.ui-picklist-responsive .ui-picklist-buttons
button{display:inline;width:20%}.ui-picklist.ui-picklist-responsive
.ui-picklist-source-controls.ui-picklist-buttons{padding-bottom:5px}.ui-picklist.ui-picklist-responsive
.ui-picklist-target-controls.ui-picklist-buttons{padding-top:5px}.ui-picklist.ui-picklist-responsive
.ui-picklist-buttons .ui-icon-arrow-1-e{background-position:-64px
-32px}.ui-picklist.ui-picklist-responsive .ui-picklist-buttons
.ui-icon-arrowstop-1-e{background-position:-224px
-32px}.ui-picklist.ui-picklist-responsive .ui-picklist-buttons
.ui-icon-arrow-1-w{background-position:0
-32px}.ui-picklist.ui-picklist-responsive .ui-picklist-buttons
.ui-icon-arrowstop-1-w{background-position:-192px -32px}}
.ui-progressbar{height:1.2em;text-align:left;position:relative}.ui-progressbar-determinate
.ui-progressbar-value{margin:-1px;height:100%;width:0;position:absolute;display:none}.ui-progressbar-determinate
.ui-progressbar-label{text-align:center;height:100%;width:100%;position:absolute;display:none;font-weight:bold}.ui-progressbar-indeterminate{height:.5em;overflow:hidden}.ui-progressbar-indeterminate
.ui-progressbar-value{border:0 none}.ui-progressbar-indeterminate
.ui-progressbar-value::before{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left,right;-webkit-animation:ui-progressbar-indeterminate-anim
2.1s cubic-bezier(0.65,0.815,0.735,0.395)
infinite;animation:ui-progressbar-indeterminate-anim 2.1s
cubic-bezier(0.65,0.815,0.735,0.395)
infinite}.ui-progressbar-indeterminate
.ui-progressbar-value::after{content:'';position:absolute;background-color:inherit;top:0;left:0;bottom:0;will-change:left,right;-webkit-animation:ui-progressbar-indeterminate-anim-short
2.1s cubic-bezier(0.165,0.84,0.44,1)
infinite;animation:ui-progressbar-indeterminate-anim-short 2.1s
cubic-bezier(0.165,0.84,0.44,1)
infinite;-webkit-animation-delay:1.15s;animation-delay:1.15s}@-webkit-keyframes
ui-progressbar-indeterminate-anim{0%{left:-35%;right:100%}60%{left:100%;right:-90%}100%{left:100%;right:-90%}}@keyframes
ui-progressbar-indeterminate-anim{0%{left:-35%;right:100%}60%{left:100%;right:-90%}100%{left:100%;right:-90%}}@-webkit-keyframes
ui-progressbar-indeterminate-anim-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}@keyframes
ui-progressbar-indeterminate-anim-short{0%{left:-200%;right:100%}60%{left:107%;right:-8%}100%{left:107%;right:-8%}}
.ui-rating-star,.ui-rating-cancel{display:inline-block;overflow:hidden;text-indent:-999em;cursor:pointer}.ui-rating-star
a,.ui-rating-cancel
a{width:16px;height:15px;display:block;background:url("/avalon/javax.faces.resource/rating/rating.png.xhtml?ln=primefaces&v=8.0")
no-repeat 0 0}.ui-rating-star a{background-position:0
-32px}.ui-rating-star-on a{background-position:0
-48px}.ui-rating-star-hover a{background-position:0
-64px}.ui-rating-cancel-hover a{background-position:0
-16px}.ui-rating.ui-state-disabled
.ui-rating-star,.ui-rating.ui-state-disabled
.ui-rating-cancel{cursor:default}
.ui-spinner{display:inline-block;overflow:visible;padding:0;position:relative;vertical-align:middle}.ui-spinner-input{vertical-align:middle;text-align:right;padding-right:20px;font-size:1em;box-sizing:border-box;width:100%}.ui-spinner-button{cursor:default;display:block;font-size:.5em;height:50%;margin:0;overflow:hidden;padding:0;position:absolute;right:0;text-align:center;vertical-align:middle;width:16px;z-index:100}.ui-spinner
.ui-icon{left:0;margin-top:-8px;position:absolute;top:50%}.ui-spinner-up{top:0}.ui-spinner-down{bottom:0}.ui-spinner
.ui-icon-triangle-1-s{background-position:-65px -16px}.ui-spinner
.ui-icon-triangle-1-n{margin-top:-9px}.ui-spinner-input::-ms-clear{display:none}
.ui-tabs{position:relative;padding:.2em;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}.ui-tabs
.ui-tabs-nav{margin:0}.ui-tabs .ui-tabs-nav
li{list-style:none;position:relative;margin:0 .2em 1px
0;padding:0;white-space:nowrap;display:inline-block;vertical-align:top;float:none}.ui-tabs
.ui-tabs-nav li a{float:left;padding:.5em
1em;text-decoration:none;outline:0}.ui-tabs .ui-tabs-nav
li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled
a,.ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text}.ui-tabs
.ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav
li.ui-tabs-selected a{cursor:pointer}.ui-tabs
.ui-tabs-panel{border-width:0;padding:1em 1.4em;background:0}.ui-tabs
.ui-tabs-nav li>.ui-icon{float:left;margin:.4em .2em 0
0;cursor:pointer}.ui-tabs.ui-tabs-top>.ui-tabs-nav
li{border-bottom:0;top:1px}.ui-tabs.ui-tabs-top>.ui-tabs-nav{padding:.2em
.2em 0}.ui-tabs.ui-tabs-bottom>.ui-tabs-nav{padding:0 .2em
.2em}.ui-tabs.ui-tabs-bottom>.ui-tabs-nav
li{border-top:0}.ui-tabs-left:after,.ui-tabs-right:after{clear:both;content:".";display:block;height:0;visibility:hidden}.ui-tabs-left>.ui-tabs-nav{float:left;width:23%;height:300px;background-image:none;padding-top:1px}.ui-tabs-left>.ui-tabs-panels{float:right;width:75%}.ui-tabs.ui-tabs-left>.ui-tabs-nav
li,.ui-tabs.ui-tabs-right>.ui-tabs-nav
li{display:block;white-space:normal;width:98%}.ui-tabs.ui-tabs-left>.ui-tabs-nav
li a,.ui-tabs.ui-tabs-right>.ui-tabs-nav li
a{width:90%}.ui-tabs.ui-tabs-left>.ui-tabs-nav
li{float:right}.ui-tabs.ui-tabs-right>.ui-tabs-nav
li{float:left}.ui-tabs.ui-tabs-left>.ui-tabs-nav li{margin:0 0 1px
.2em;border-right:0
none}.ui-tabs.ui-tabs-right>.ui-tabs-nav{float:right;width:23%;height:300px;background-image:none;padding-top:1px}.ui-tabs.ui-tabs-right>.ui-tabs-panels{float:left;width:75%}.ui-tabs.ui-tabs-right>.ui-tabs-nav
li{margin:0 .2em 1px 0;border-left:0 none}.ui-tabs.ui-tabs-left
.ui-tabs-actions,.ui-tabs.ui-tabs-right
.ui-tabs-actions{position:absolute;bottom:0;padding:.2em}.ui-tabs-rtl{direction:rtl}.ui-tabs-scrollable
.ui-tabs-nav{width:5000px}.ui-tabs
.ui-tabs-navscroller{overflow:hidden;padding-left:18px}.ui-tabs
.ui-tabs-navscroller.ui-tabs-navscroller-btn-hidden{padding-left:0}.ui-tabs-scrollable
.ui-tabs-nav li{margin:0 .2em -1px 0}.ui-tabs
.ui-tabs-navscroller-btn{position:absolute;height:28px;z-index:100;cursor:pointer}.ui-tabs
.ui-tabs-navscroller.ui-tabs-navscroller-btn-hidden
.ui-tabs-navscroller-btn{display:none}.ui-tabs
.ui-tabs-navscroller-btn-left{left:.2em}.ui-tabs
.ui-tabs-navscroller-btn-right{right:.2em}.ui-tabs
.ui-tabs-navscroller-btn-left .ui-icon,.ui-tabs
.ui-tabs-navscroller-btn-right
.ui-icon{margin-top:5px}.ui-tabs-outline{outline:dotted
thin;z-index:1}.ui-tabs
li.ui-tabs-actions{float:right}.ui-tabs.ui-tabs-rtl
li.ui-tabs-actions{float:left}.ui-tabs
li.ui-tabs-actions[aria-hidden='true']{display:none}
.ui-tagcloud{width:250px}.ui-tagcloud
ul{margin:1em;padding:.1em;text-align:center}.ui-tagcloud
li{margin:0;padding:0;list-style:none;display:inline-block}.ui-tagcloud
li a{text-decoration:none;padding:0
5px}.ui-tagcloud-strength-1{font-size:100%}.ui-tagcloud-strength-2{font-size:120%}.ui-tagcloud-strength-3{font-size:140%}.ui-tagcloud-strength-4{font-size:160%}.ui-tagcloud-strength-5{font-size:180%}.ui-tagcloud
li a.ui-state-hover{border:0 none;font-weight:inherit}
.ui-toolbar{padding:.2em}.ui-toolbar
.ui-separator{display:inline-block;vertical-align:middle}.ui-toolbar-group-left{float:left}.ui-toolbar-group-right{float:right}
.ui-tooltip{position:absolute;display:none;pointer-events:none}.ui-tooltip.ui-tooltip-right,.ui-tooltip.ui-tooltip-left{padding:0
5px}.ui-tooltip.ui-tooltip-top,.ui-tooltip.ui-tooltip-bottom{padding:5px
0}.ui-tooltip .ui-tooltip-text{padding:3px
10px;background-color:#4c4c4c;background-image:none;color:#fff}.ui-tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.ui-tooltip-right
.ui-tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px
5px 0;border-right-color:#4c4c4c}.ui-tooltip-left
.ui-tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px
5px;border-left-color:#4c4c4c}.ui-tooltip.ui-tooltip-top{padding:5px
0}.ui-tooltip-top
.ui-tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px
5px 0;border-top-color:#4c4c4c}.ui-tooltip-bottom
.ui-tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px
5px;border-bottom-color:#4c4c4c}
.ui-tree{width:300px;position:relative}.ui-tree
.ui-tree-container{margin:0;padding:3px;white-space:nowrap;overflow:auto}.ui-tree
.ui-treenode-children{margin:0;padding:0 0 0 16px}.ui-tree
.ui-treenode{background-attachment:scroll;background-color:transparent;background-image:none;background-position:0
0;background-repeat:repeat-y;list-style:none outside
none;margin:0;padding:1px 0 0}.ui-tree
.ui-tree-toggler{cursor:pointer;display:inline-block;vertical-align:middle}.ui-tree
.ui-treenode-icon{display:inline-block;vertical-align:middle}.ui-tree
.ui-treenode-label{display:inline-block;vertical-align:middle;padding:0
3px}.ui-tree .ui-tree-selectable .ui-treenode-label,.ui-tree
.ui-tree-selectable .ui-treenode-icon{cursor:pointer}.ui-tree
.ui-treenode-label.ui-state-hover,.ui-tree
.ui-treenode-label.ui-state-highlight{font-weight:normal;border:0
none}.ui-tree
.ui-treenode-leaf-icon{width:16px;height:16px;display:inline-block}.ui-tree
.ui-chkbox-box{cursor:pointer;width:15px;height:15px;float:left}.ui-tree
.ui-chkbox{display:inline-block;-moz-transform:scale(1);-o-transform:scale(1);-webkit-transform:scale(1);transform:scale(1)}.ui-tree-horizontal{width:auto;padding:10px
0;overflow:auto}.ui-tree.ui-tree-horizontal
table,.ui-tree.ui-tree-horizontal tr,.ui-tree.ui-tree-horizontal
td{border-collapse:collapse;margin:0;padding:0;vertical-align:middle}.ui-tree.ui-tree-horizontal
.ui-tree-toggler,.ui-tree.ui-tree-horizontal
.ui-treenode-icon{vertical-align:bottom}.ui-tree.ui-tree-horizontal
.ui-treenode-label{outline:0 none}.ui-tree-horizontal
.ui-treenode-content{font-weight:normal}.ui-tree-horizontal
.ui-treenode-content.ui-tree-selectable{cursor:pointer}.ui-tree-horizontal
.ui-treenode-parent
.ui-treenode-content{font-weight:normal;white-space:nowrap}.ui-tree-horizontal
.ui-treenode-parent .ui-treenode-content{padding:.4em 1em .4em
.2em}.ui-tree-horizontal .ui-treenode-leaf
.ui-treenode-content{padding:.4em 1em}.ui-tree.ui-tree-horizontal
.ui-treenode{background:url("/avalon/javax.faces.resource/tree/images/line.gif.xhtml?ln=primefaces&v=8.0")
repeat-x scroll center center transparent;padding:5px
40px}.ui-tree.ui-tree-horizontal
.ui-treenode.ui-treenode-leaf,.ui-tree.ui-tree-horizontal
.ui-treenode.ui-treenode-collapsed{padding-right:0}.ui-tree.ui-tree-horizontal
.ui-treenode-children{padding:0;margin:0}.ui-tree.ui-tree-horizontal
.ui-treenode-connector{width:1px}.ui-tree.ui-tree-horizontal
.ui-treenode-connector-table{height:100%;width:1px}.ui-tree.ui-tree-horizontal
.ui-treenode-connector-line{background:url("/avalon/javax.faces.resource/tree/images/line.gif.xhtml?ln=primefaces&v=8.0")
repeat-y scroll 0 0 transparent;width:1px}.ui-tree.ui-tree-horizontal
table{height:0}.ui-tree.ui-tree-horizontal
.ui-chkbox{vertical-align:bottom;margin-right:3px}.ui-tree.ui-state-disabled
.ui-tree-toggler,.ui-tree.ui-state-disabled .ui-tree-selectable
.ui-treenode-label,.ui-tree.ui-state-disabled .ui-tree-selectable
.ui-treenode-icon,.ui-tree.ui-state-disabled
.ui-chkbox-box{cursor:default}.ui-tree.ui-tree-rtl{direction:rtl}.ui-tree.ui-tree-rtl
.ui-treenode-children{padding:0 16px 0
0}.ui-tree-droppoint{list-style:none outside
none;height:4px;margin:0;padding:0}.ui-tree-droppoint.ui-state-hover{border:0
none}.ui-treenode-content.ui-state-hover{font-weight:inherit}.ui-tree-draghelper.ui-state-highlight{background:none
transparent}.ui-tree .ui-tree-scrollertop,.ui-tree
.ui-tree-scrollerbottom{height:10px;width:100%;position:absolute}.ui-tree
.ui-tree-scrollertop{top:0}.ui-tree
.ui-tree-scrollerbottom{bottom:0}.ui-tree .ui-treenode-content
.ui-chkbox.ui-selection{display:none}.ui-tree
.ui-treenode-content.ui-tree-selectable
.ui-chkbox.ui-selection{display:inline-block}.ui-tree.ui-tree-checkbox-all
.ui-treenode-content
.ui-chkbox.ui-selection{display:inline-block}.ui-tree
.ui-treenode-outline{outline:1px
dotted}.ui-tree-filter-container{margin:.4em .5em
.1em;padding:0;position:relative}.ui-tree-filter-container
.ui-icon{position:absolute;right:2px;top:5px}.ui-tree-filter.ui-inputfield{box-shadow:none;padding-left:2%;padding-right:12%;width:100%;box-sizing:border-box}.ui-fluid
.ui-tree{width:100%} .ui-treetable
table{border-collapse:collapse;width:100%;table-layout:fixed}.ui-treetable
.ui-treetable-header,.ui-treetable
.ui-treetable-footer{text-align:center;padding:4px 10px}.ui-treetable
.ui-treetable-header{border-bottom:0 none}.ui-treetable
.ui-treetable-footer{border-top:0 none}.ui-treetable th,.ui-treetable
tfoot td{text-align:center}.ui-treetable thead th,.ui-treetable tbody
td,.ui-treetable tfoot td{padding:4px
10px;overflow:hidden;white-space:nowrap;border-width:1px;border-style:solid}.ui-treetable
tbody td{border-color:inherit}.ui-treetable
.ui-treetable-toggler{display:inline-block;vertical-align:middle;cursor:pointer;margin-top:-5px}.ui-treetable
.ui-treetable-data tr.ui-state-highlight,.ui-treetable
.ui-treetable-data
tr.ui-state-hover{cursor:pointer}.ui-treetable-scrollable-body{overflow:auto}.ui-treetable-scrollable-header,.ui-treetable-scrollable-footer{overflow:hidden;border:0
none}.ui-treetable-scrollable .ui-treetable-scrollable-theadclone tr
th>*{display:none}.ui-treetable.ui-treetable-scrollable
table{table-layout:fixed}.ui-treetable-scrollable
.ui-treetable-scrollable-header,.ui-treetable-scrollable
.ui-treetable-scrollable-footer{position:relative}.ui-treetable
.ui-treetable-data
tr.ui-state-hover{border-color:inherit;font-weight:inherit}.ui-treetable-resizable{padding-bottom:1px;overflow:auto}.ui-treetable.ui-treetable-resizable
table{table-layout:fixed}.ui-treetable
.ui-column-resizer{width:8px;height:20px;padding:0;cursor:col-resize;background-image:url("/avalon/javax.faces.resource/spacer/dot_clear.gif.xhtml?ln=primefaces&v=8.0");margin:-4px
-10px -4px 0;float:right}.ui-treetable
.ui-column-resizer-helper{width:1px;position:absolute;z-index:10;display:none}.ui-treetable
.ui-chkbox{margin-right:3px}.ui-treetable
.ui-treetable-indent{width:16px;height:16px;float:left}.ui-treetable-scrollable-body::-webkit-scrollbar{-webkit-appearance:none;width:15px;background-color:transparent}.ui-treetable-scrollable-body::-webkit-scrollbar-thumb{border-radius:8px;border:1px
solid white;background-color:rgba(194,194,194,.5)}.ui-treetable
.ui-sortable-column{cursor:pointer}.ui-treetable
.ui-sortable-column-icon{display:inline-block;margin:-3px 0 -3px
2px}.ui-treetable .ui-chkbox.ui-selection{display:none}.ui-treetable
.ui-treetable-selectable-node
.ui-chkbox.ui-selection{display:inline-block}.ui-treetable.ui-treetable-checkbox-all
.ui-chkbox.ui-selection{display:inline-block}.ui-treetable-scrollable-theadclone{height:0}.ui-treetable-scrollable-theadclone
tr{height:0}.ui-treetable-scrollable-theadclone
th.ui-state-default{height:0;border-bottom-width:0;border-top-width:0;padding-top:0;padding-bottom:0;outline:0
none}.ui-treetable-scrollable-theadclone th
span{display:block;height:0}.ui-treetable
.ui-column-filter{display:block;box-sizing:border-box;width:100%;margin:auto}.ui-treetable-reflow
.ui-treetable-data td
.ui-column-title{display:none}@media(max-width:640px){.ui-treetable-reflow
thead th,.ui-treetable-reflow tfoot td{display:none}.ui-treetable-reflow
.ui-treetable-data td{text-align:left;display:block;border:0
none;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;clear:left}.ui-treetable-reflow
.ui-treetable-data.ui-widget-content{border:0 none}.ui-treetable-reflow
.ui-treetable-data tr.ui-widget-content{border-left:0
none;border-right:0 none}.ui-treetable-reflow .ui-treetable-data td
.ui-column-title{padding:.4em;min-width:30%;display:inline-block;margin:-.4em
1em -.4em -.4em}}.ui-treetable .ui-editable-column
.ui-cell-editor{display:inline-block;vertical-align:middle}.ui-treetable
.ui-editable-column .ui-treetable-toggler{margin-top:0}.ui-treetable
.ui-cell-editor-input{display:none}.ui-treetable .ui-row-editing
.ui-cell-editor .ui-cell-editor-output{display:none}.ui-treetable
.ui-row-editing .ui-cell-editor
.ui-cell-editor-input{display:block}.ui-treetable .ui-row-editor
span{cursor:pointer}.ui-treetable .ui-row-editor
.ui-row-editor-pencil{display:inline-block}.ui-treetable .ui-row-editing
.ui-row-editor .ui-row-editor-pencil{display:none}.ui-treetable
.ui-row-editor .ui-row-editor-check,.ui-treetable .ui-row-editor
.ui-row-editor-close{display:none}.ui-treetable .ui-row-editing
.ui-row-editor .ui-row-editor-check,.ui-treetable .ui-row-editing
.ui-row-editor .ui-row-editor-close{display:inline-block}.ui-treetable
.ui-treetable-data tr.ui-row-editing td.ui-editable-column,.ui-treetable
.ui-treetable-data td.ui-cell-editing{padding:0;margin:0}.ui-treetable
.ui-treetable-data tr.ui-row-editing
td.ui-editable-column:first-child,.ui-treetable .ui-treetable-data
td.ui-cell-editing:first-child{padding-left:10px}
.ui-wizard{margin:0;padding:0}.ui-wizard-content{margin:3px
0}.ui-wizard-navbar{text-align:right}.ui-wizard-nav-back,.ui-wizard-nav-next{cursor:pointer}.ui-wizard-nav-back{float:left}.ui-wizard-nav-next{float:right}.ui-wizard-step-title{font-size:18px;margin:0
3px 0 0;padding:.4em;float:left}
.ui-chips{box-shadow:none;cursor:pointer;display:inline-block;position:relative;width:auto}.ui-chips-container{padding:0;clear:left;cursor:text;list-style-type:none;margin:0;min-height:1px;overflow:hidden;width:400px}.ui-chips-token{cursor:default;display:inline-block;vertical-align:middle;overflow:hidden;padding:1px
3px;white-space:nowrap;position:relative;margin:2px}.ui-chips-token
.ui-chips-token-label{display:block;padding:0 2.1em 0
.5em}.ui-chips-token
.ui-chips-token-icon{cursor:pointer;margin-top:-9px;position:absolute;right:.2em;top:50%}.ui-chips-input-token{display:inline-block;vertical-align:middle;list-style-type:none;margin:1px;padding:0}.ui-chips-input-token
input{background-color:transparent;border:0
none;margin:2px;outline:medium none;width:140px}.ui-fluid
.ui-chips,.ui-fluid .ui-chips .ui-chips-container{width:100%}
.ui-sidebar{position:fixed;padding:.5em 1em;-webkit-transition:transform
.3s;transition:transform
.3s;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.ui-sidebar-left{top:0;left:0;width:20em;height:100%;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}.ui-sidebar-right{top:0;right:0;width:20em;height:100%;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}.ui-sidebar-top{top:0;left:0;width:100%;height:10em;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%)}.ui-sidebar-bottom{bottom:0;left:0;width:100%;height:10em;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%)}.ui-sidebar-full{width:100%;height:100%;left:0;-webkit-transition:transform
0s;transition:transform
0s}.ui-sidebar-left.ui-sidebar-active,.ui-sidebar-right.ui-sidebar-active{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}.ui-sidebar-left.ui-sidebar-sm,.ui-sidebar-right.ui-sidebar-sm{width:20em}.ui-sidebar-left.ui-sidebar-md,.ui-sidebar-right.ui-sidebar-md{width:40em}.ui-sidebar-left.ui-sidebar-lg,.ui-sidebar-right.ui-sidebar-lg{width:60em}.ui-sidebar-top.ui-sidebar-active,.ui-sidebar-bottom.ui-sidebar-active{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.ui-sidebar-top.ui-sidebar-sm,.ui-sidebar-bottom.ui-sidebar-sm{height:10em}.ui-sidebar-top.ui-sidebar-md,.ui-sidebar-bottom.ui-sidebar-md{height:20em}.ui-sidebar-top.ui-sidebar-lg,.ui-sidebar-bottom.ui-sidebar-lg{height:30em}.ui-sidebar-mask{position:fixed;width:100%;height:100%}.ui-sidebar-close{float:right;padding:1px}.ui-sidebar-close:hover,.ui-sidebar-close:focus{padding:0}@media
screen and
(max-width:64em){.ui-sidebar-left.ui-sidebar-lg,.ui-sidebar-left.ui-sidebar-md,.ui-sidebar-right.ui-sidebar-lg,.ui-sidebar-right.ui-sidebar-md{width:20em}}
.ui-dataview .ui-dataview-header{border-bottom:0 none}.ui-dataview
.ui-dataview-header,.ui-dataview
.ui-dataview-footer{text-align:center;padding:4px 10px}.ui-dataview
.ui-dataview-header
.ui-dataview-layout-options{float:right}.ui-dataview-list
.ui-dataview-content{padding:4px 10px}.ui-dataview-list
.ui-dataview-list-container{list-style-type:none;margin:0;padding:0}.ui-dataview-list
.ui-dataview-row{border:0 none}.ui-fluid
.ui-dataview-layout-options.ui-buttonset{width:auto}
.p-datepicker{position:relative;display:inline-block;width:auto}.p-datepicker-panel
.ui-datepicker-header .ui-datepicker-next,.p-datepicker-panel
.ui-datepicker-header .ui-datepicker-prev,.p-datepicker-panel table
td>a,.p-datepicker-panel .ui-timepicker>div
a{cursor:pointer}.p-datepicker-panel .ui-datepicker-calendar-container
td span,.p-datepicker-panel .ui-datepicker-calendar-container td
a{text-align:center}.p-datepicker-panel
.ui-datepicker-calendar-container
td.ui-datepicker-other-month-hidden{visibility:hidden}.p-datepicker-panel
.ui-timepicker{text-align:center;padding:.5em}.p-datepicker-panel
.ui-timepicker>div{display:inline-block;margin-left:.5em;min-width:1.5em}.p-datepicker-panel
.ui-timepicker>.ui-minute-picker,.p-datepicker-panel
.ui-timepicker>.ui-second-picker{margin-left:0}.p-datepicker-panel
.ui-timepicker>div a{display:block}.p-datepicker-panel
.ui-timepicker>.ui-separator{margin-left:0;min-width:.75em}.p-datepicker-panel
.ui-timepicker>.ui-separator
a{visibility:hidden;opacity:0}.ui-datepicker-multiple-month
.ui-datepicker-group{display:table-cell;border-left-width:0;border-top-width:0;border-bottom-width:0}.p-datepicker-panel.ui-datepicker-multiple-month{width:auto}.p-datepicker
.ui-datepicker-touch-ui,.ui-datepicker-touch-ui{position:fixed;top:50%;left:50%;min-width:80vw;width:auto;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.ui-datepicker-touch-ui.ui-datepicker
td a,.ui-datepicker-touch-ui.ui-datepicker td
span,.ui-datepicker-touch-ui.ui-datepicker th{padding:2em
0}.ui-monthpicker
.ui-monthpicker-month{width:33.3%;display:inline-block;text-align:center;padding:.5em;cursor:pointer}.p-datepicker-panel
.ui-datepicker-buttonbar .ui-g-6{text-align:center}
